body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:250px;
    top:31px;
    width:750px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:310px;
    top:15px;
    width:18px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u4_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:0px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u10 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u13 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u16 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20 {
    position:absolute;
    left:850px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:930px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:40px;
    top:126px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:460px;
    top:580px;
    width:140px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:40px;
    top:681px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:40px;
    top:745px;
    width:50px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u26 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:104px;
    top:749px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:103px;
    top:776px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u31_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u31_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u44_container {
    position:absolute;
    left:371px;
    top:745px;
    width:50px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:435px;
    top:749px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:434px;
    top:776px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u50_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u50_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u63_container {
    position:absolute;
    left:719px;
    top:744px;
    width:50px;
    height:50px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u64 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:783px;
    top:748px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:782px;
    top:775px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u69_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u69_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u70 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u71_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u72 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u82_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u82_container {
    position:absolute;
    left:40px;
    top:835px;
    width:50px;
    height:50px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u83 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:104px;
    top:839px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:103px;
    top:866px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u88_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u88_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u89 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u91 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u93_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u93_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u94 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u96_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u96_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u97 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u101_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u101_container {
    position:absolute;
    left:371px;
    top:835px;
    width:50px;
    height:50px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u102 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:435px;
    top:839px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:434px;
    top:866px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u107_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u107_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u108 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u109_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u110 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u112_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u112_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u113 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u115_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u115_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u116 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u118_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u118_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u119 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u120_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u120_container {
    position:absolute;
    left:719px;
    top:834px;
    width:50px;
    height:50px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u121 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:783px;
    top:838px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:782px;
    top:865px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_selected {
    background-image: url('../前端招聘_files/u4_selected.png');
}

.u126_normal {
    background-image: url('../前端招聘_files/u4_normal.png');
}

.u126_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u128_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u129 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u131_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u131_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u132 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u134_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u134_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u135 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u137_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u137_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u138 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u139 {
    position:absolute;
    left:395px;
    top:915px;
    width:270px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140 {
    position:absolute;
    left:40px;
    top:1051px;
    width:990px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../前端招聘_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:40px;
    top:10px;
    width:173px;
    height:50px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:50px;
}

.u142 {
    position:absolute;
    left:2px;
    top:17px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:70px;
    top:180px;
    width:430px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:850px;
    top:183px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:70px;
    top:220px;
    width:340px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:580px;
    top:220px;
    width:315px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u147_container {
    position:absolute;
    left:910px;
    top:218px;
    width:50px;
    height:50px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u148 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:70px;
    top:312px;
    width:430px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:850px;
    top:315px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:70px;
    top:352px;
    width:340px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:580px;
    top:352px;
    width:315px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u153_container {
    position:absolute;
    left:910px;
    top:350px;
    width:50px;
    height:50px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u154 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:70px;
    top:449px;
    width:430px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:850px;
    top:452px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:70px;
    top:489px;
    width:340px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:580px;
    top:489px;
    width:315px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../前端招聘_files/u25_normal.png');
}

.u159_container {
    position:absolute;
    left:910px;
    top:487px;
    width:50px;
    height:50px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u160 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:778px;
    top:126px;
    width:215px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

