<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WDShare 西安前端交流会</title>
    <meta name="keywords" content="WDShare,西安前端交流会"/>
    <meta name="description" content="WDShare，W3C Developer Share 西安前端开发人员分享交流会"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
<div class="header">
    <a href="/" class="logo"><strong><em>WDShare</em> 西安交流会</strong></a>
    <ul class="nav" id="js-nav">
        <li><a href="/">活动</a></li>
        <li><a href="/book/">换书行动</a></li>
        <!-- <li><a href="/guestbook/">留点意见</a></li> -->
        <li><a href="http://www.cnblogs.com/wdshare/" target="_blank">技术文章</a></li>
        <li><a href="/team/">技术小组</a></li>
        <li class="mobel-hide"><a href="/about/">关于WDShare</a></li>
    </ul>
    <h1 class="myname">W3C Developer Share<br/>西安前端开发者分享交流会</h1>
</div>
<!-- <div class="inform"><p><strong class="title">通知：</strong>经组委会协商，分享交流会调整为<strong style="color:#f00;">每两个月一次</strong>，第二个月最后一个星期天。 其他小活动留意官网！</p></div> -->
<div style="width:0; height:0; overflow:hidden;"><img src="http://www.wdshare.org/files/weibo-logo.jpg"/></div>
<div class="mod"><h4 class="mod-head"><em>进行中的活动</em></h4>

    <div class="mod-body"><h2>WDShare 西安交流会 第2期</h2>

        <div class="mod-type"> 时间：2014-8-31 14:00 -- 18:00 报名截止日期：2014-8-29<br/> 地址：西安-高新 林凯国际大厦19楼东方网力
            【百度地图搜索“林凯国际”（亚美大厦对面）】
        </div>
        <div class="mod-but"><a href="/join.php?aid=4">我要报名</a></div>
        <div class="wds-content"><h3>活动内容</h3>
            <dl>
                <dt>13:30 ‐ 14:00</dt>
                <dd>签到送拥抱</dd>
            </dl>
            <dl>
                <dt>14:00 ‐ 14:30</dt>
                <dd><strong>东方网力HR</strong><br><span>东道主开场介绍及招聘</span></dd>
            </dl>
            <dl>
                <dt>14:30 ‐ 15:00</dt>
                <dd><strong>第一位嘉宾：番茄</strong><br><span>这是一位很出色的讲师，从事前端行业多年，经验丰厚。</span></dd>
            </dl>
            <dl>
                <dt>15:00 ‐ 15:20</dt>
                <dd><strong>第三位嘉宾：李伟</strong><br><span>草根级的前端从业者，讲述他在工作中的点点滴滴</span></dd>
            </dl>
            <dl>
                <dt>15:20 ‐ 15:30</dt>
                <dd>休息十分钟</dd>
            </dl>
            <dl>
                <dt>15:30 ‐ 16:30</dt>
                <dd><strong>第三位嘉：小天【HTML5中的特性如何用于产品设计】</strong><br><span>重磅出击，新技术与产品的结合</span></dd>
            </dl>

            <dl>
                <dt>16:30 ‐ 17:00</dt>
                <dd><strong>第四位嘉：北河</strong><br><span>阿里混出来的大牛，用自己的眼光描述你看不到的东西</span></dd>
            </dl>
            <dl>
                <dt>17:00 ‐ 17:30</dt>
                <dd><strong>作品分享</strong><span>   如果你想加入，请联系QQ：106324307【F7】</span></dd>
            </dl>
            <dl>
                <dt>17:30 ‐ 18:00</dt>
                <dd><strong>个人介绍+自由交流 或者 分组讨论</strong></dd>
            </dl>
            <dl>
                <dt>18:00 ‐ 18:10</dt>
                <dd><strong>集体合影留念</strong></dd>
            </dl>
            <dl>
                <dt>18:20 ‐ 结束</dt>
                <dd><strong>令人难忘的AA聚餐，欢乐多多，美女多多</strong></dd>
            </dl>
            <dl>
                <dd>期待您的下次参与！</dd>
            </dl>
        </div>
    </div>
</div>
<div class="mod"><h4 class="mod-head"><em class="dead">已结束的活动</em></h4>

    <div class="mod-body"><h2>WDShare 西安交流会 第1期</h2>

        <div class="mod-type"> 时间：2014-7-26 14:00 -- 18:00<br/> 地址：寻路咖啡</div>
        <div class="wds-content"><h3>活动内容</h3>

            <p>活动已圆满成功，以下为本次活动资料</p>

            <p>讲师PPT资料：</p>

            <p>天哥分享会：职业规划 <a href="/files/726/天哥-分享会，职业规划.pptx" target="_blank">点击下载</a></p>

            <p>北河分享： webstorm & nodepad++ 使用技巧 <a
                        href="http://blog.itbeihe.com/demo/bh-share-repo/nodepad-and-webstorm/ppt.html" target="_blank">点击查看</a>
            </p>

            <p>杰克分享：如何调试css, javascript <a href="/files/726/杰克分享debug-cssjs.ppt" target="_blank">点击下载</a></p>

            <p>F7作品分享： <a href="/files/726/F7作品分享.txt" target="_blank">点击查看</a></p>

            <p style="text-align:center;"><br/><img style="width:90%; margin:auto; max-width:800px;"
                                                    src="/files/726/full.jpg"/><br/></p></div>
    </div>
</div>
<div class="footer">
    <div class="footer-link maxWidth">
        <a href="/about/">了解我们</a>
        <a href="/partner/">沟通合作</a>
        <a href="/guestbook/">拍砖建议</a>
        <a href="http://get-set.cn/wdshare/" target="_blank">会议足迹</a>
        <a href="http://weibo.com/xianjiaoliu" target="_blank" class="foot-weibo" title="@西安前端交流会"></a>
        <a href="/img/weixincode.png" target="_blank" class="foot-weixin" title="@wdshare"></a>
        <span class="footer-link-text">QQ群：375042952【需邀请】； 284216186【完全公开】</span>
    </div>
    <div class="footer-copyright maxWidth">Copyright &copy; 2014 <a href="/">WDShare.org</a>, All rights reserved.
        &nbsp;&nbsp;&nbsp; 联系：<a
                href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#119;&#100;&#115;&#104;&#97;&#114;&#101;&#64;&#49;&#54;&#51;&#46;&#99;&#111;&#109;">
            &#119;&#100;&#115;&#104;&#97;&#114;&#101;&#64;&#49;&#54;&#51;&#46;&#99;&#111;&#109;</a> &nbsp;&nbsp;&nbsp;
        感谢好友“<a href="http://yimity.com" target="_blank">一米</a>”提供主机
    </div>
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
