<div class="footer">
    <div class="footer-link maxWidth">
        <a href="/about/">了解我们</a>
        <a href="/partner/">沟通合作</a>
        <a href="/guestbook/">拍砖建议</a>
        <a target="_blank" href="http://get-set.cn/wdshare/">会议足迹</a>
        <a title="@西安前端交流会" class="foot-weibo" target="_blank" href="http://weibo.com/xianjiaoliu"></a>
        <a title="@wdshare" class="foot-weixin" target="_blank" href="/img/weixincode.png"></a>
        <span class="footer-link-text">QQ群：375042952【需邀请】； 284216186【完全公开】</span>
    </div>
    <div class="footer-copyright maxWidth">Copyright &copy; 2014 <a href="/">WDShare.org</a>, All rights reserved.  &nbsp;&nbsp;&nbsp; 联系：<a href="mailto:wdshare@163.com">wdshare@163.com</a> &nbsp;&nbsp;&nbsp; 感谢好友“<a target="_blank" href="http://yimity.com">一米</a>”提供主机</div>
</div>
