<!--<div class="footer">
    <div class="footer-link maxWidth">
        <a href="/about/">了解我们</a>
        <a href="/partner/">沟通合作</a>
        <a href="/guestbook/">拍砖建议</a>
        <a target="_blank" href="http://get-set.cn/wdshare/">会议足迹</a>
        <a title="@西安前端交流会" class="foot-weibo" target="_blank" href="http://weibo.com/xianjiaoliu"></a>
        <a title="@wdshare" class="foot-weixin" target="_blank" href="/img/weixincode.png"></a>
        <span class="footer-link-text">QQ群：375042952【需邀请】； 284216186【完全公开】</span>
    </div>
    <div class="footer-copyright maxWidth">Copyright &copy; 2014 <a href="/">WDShare.org</a>, All rights reserved.  &nbsp;&nbsp;&nbsp; 联系：<a href="mailto:wdshare@163.com">wdshare@163.com</a> &nbsp;&nbsp;&nbsp; 感谢好友“<a target="_blank" href="http://yimity.com">一米</a>”提供主机</div>
</div>-->
<div class="footer">
    <div class="footer-link maxWidth">
        <a href="/about/">了解我们</a>
        <a href="/partner/">沟通合作</a>
        <a href="/guestbook/">拍砖建议</a>
        <a href="http://get-set.cn/wdshare/" target="_blank">会议足迹</a>
        <a href="http://weibo.com/xianjiaoliu" target="_blank" class="foot-weibo" title="@西安前端交流会"></a>
        <a href="/img/weixincode.png" target="_blank" class="foot-weixin" title="@wdshare"></a>
        <span class="footer-link-text">QQ群：375042952【需邀请】； 284216186【完全公开】</span>
    </div>
    <div class="footer-copyright maxWidth">Copyright &copy; 2014 <a href="/">WDShare.org</a>, All rights reserved.
        &nbsp;&nbsp;&nbsp; 联系：<a
                href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#119;&#100;&#115;&#104;&#97;&#114;&#101;&#64;&#49;&#54;&#51;&#46;&#99;&#111;&#109;">
            &#119;&#100;&#115;&#104;&#97;&#114;&#101;&#64;&#49;&#54;&#51;&#46;&#99;&#111;&#109;</a> &nbsp;&nbsp;&nbsp;
        感谢好友“<a href="http://yimity.com" target="_blank">一米</a>”提供主机
    </div>
</div>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>