<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WDShare 西安前端交流会</title>
    <meta name="keywords" content="WDShare,西安前端交流会"/>
    <meta name="description" content="WDShare，W3C Developer Share 西安前端开发人员分享交流会"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="header">
    <a href="/" class="logo"><strong><em>WDShare</em> 西安交流会</strong></a>
    <ul class="nav" id="js-nav">
        <li><a href="/">活动</a></li>
        <li><a href="/book/">换书行动</a></li>
        <!-- <li><a href="/guestbook/">留点意见</a></li> -->
        <li><a href="http://www.cnblogs.com/wdshare/" target="_blank">技术文章</a></li>
        <li><a href="/team/">技术小组</a></li>
        <li class="mobel-hide"><a href="/about/">关于WDShare</a></li>
    </ul>
    <h1 class="myname right">W3C Developer Share<br/>西安前端开发者分享交流会</h1>
    <% if(user && user.email){ %>
    <span class="right account"><a href="/user/user">用户中心</a> | <a href="/user/logout">退出</a> </span>
    <% }else{ %>
    <span class="right account"><a href="/user/login">登录</a> | <a href="/user/register">注册</a> </span>
    <% } %>
</div>
<!--
<div class="header">
    <a class="logo" href="/"><strong><em>WDShare</em> 西安交流会</strong></a>
    <ul id="js-nav" class="nav">
        <li class="current"><a href="/">活动</a></li>
        <li><a href="/book/">换书行动</a></li>
        &lt;!&ndash; <li><a href="/guestbook/">留点意见</a></li> &ndash;&gt;
        <li><a target="_blank" href="http://www.cnblogs.com/wdshare/">技术文章</a></li>
        <li><a href="/team/">技术小组</a></li>
        <li class="mobel-hide"><a href="/about/">关于WDShare</a></li>
    </ul>
    <h1 class="myname right">W3C Developer Share<br/>西安前端开发者分享交流会</h1>
    <span class="right account"><a href="/login">登录</a> | <a href="/register">注册</a> </span>
</div>
-->