<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>WDShare管理中心-添加活动分类</title>
<meta name="auther" content="F7" />
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>
<div class="manage">
  <% include ../etc/left.ejs %>
  <div class="manage-right">
    <h1 class="manage-title">活动分类</h1>

    <div class="manage-module">
      <form id="js-activeChannels-create-form">
        <!-- <input type="hidden" name="id" value="" /> -->
        <div class="manage-module-head">
          <h3 class="manage-module-title">添加活动分类</h3>
          <div class="manage-tool">
            <input class="green" name="submitbutton_head" type="submit" value="提交"/>
            <input class="gray" type="reset" value="重置"/>
          </div>
        </div>
        <div class="manage-module-con">
          <div class="manage-addActive-form">
            <div class="manage-addActive-form-item">
              <label><strong>分类名称：</strong><input type="text" name="name" /></label>
            </div>
            <div class="manage-addActive-form-item">
              <label><strong>URL标识：</strong><input type="text" name="url"/><span>短链接标识，保存后不能修改，例如：http://www.wdshare.org/active/***</span></label>
            </div>
            <div class="manage-addActive-form-item" style="display:none;">
              <label><strong>父类：</strong>
                <select name="parent">
                  <option value="" selected>顶级栏目</option>
                  <% result.forEach(function(channel){ %>
                  <option value="<%= channel._id%>"><%= channel.name%></option>
                  <% }) %>
                </select></label>
            </div>
            <div class="manage-addActive-form-item">
              <label><strong>关键字：</strong><input type="text" name="keywords" /><span>显示在meta标签的keywords</span></label>
            </div>
            <div class="manage-addActive-form-item">
              <label><strong>描述：</strong>
              <textarea name="description" cols="30" rows="10"></textarea><span>显示在meta标签的description</span></label>
            </div>
            
            <div class="manage-addActive-form-item manage-form-but">
              <input class="green" name="submitbutton" type="submit" value="提交"/>
              <input class="gray" type="reset" value="重置"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>