<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>WDShare管理中心-修改标签</title>
<meta name="auther" content="F7" />
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>
<div class="manage">
  <% include ../etc/left.ejs %>
  <div class="manage-right">
    <h1 class="manage-title">标签</h1>
    <div class="manage-module">
      <form id="js-tags-create-form">
        <input type="hidden" name="aid" value="<%=result._id%>" />
        <div class="manage-module-head">
          <h3 class="manage-module-title">修改标签</h3>
          <div class="manage-tool">
            <input class="green" name="submitbutton_head" type="submit" value="提交"/>
            <input class="gray" type="reset" value="重置"/>
          </div>
        </div>
        <div class="manage-module-con">
          <div class="manage-addActive-form">
            <div class="manage-addActive-form-item">
              <label><strong>标签名称：</strong><input type="text" name="name" value="<%=result.name%>" /></label>
            </div>
            <div class="manage-addActive-form-item">
              <label>
                <strong>标签分类：</strong>
                <select name="model">
                  <option value="" <% if ( !result.model ) { %>selected<% } %>>请选择类型</option>
                  <option value="article" <% if ( result.model === "article" ) { %>selected<% } %>>文章</option>
                  <option value="project"<% if ( result.model === "article" ) { %>project<% } %>>项目</option>
                  <option value="job"<% if ( result.model === "job" ) { %>selected<% } %>>招聘</option>
                  <option value="member"<% if ( result.model === "member" ) { %>selected<% } %>>会员</option>
                </select>
              </label>
            </div>
            <div class="manage-addActive-form-item">
              <label><strong>标签权重：</strong><input type="text" name="level" value="<%=result.level%>" /></label>
            </div>
            
            <div class="manage-addActive-form-item manage-form-but">
              <input class="green" name="submitbutton" type="submit" value="提交"/>
              <input class="gray" type="reset" value="重置"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>