body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:250px;
    top:31px;
    width:750px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:310px;
    top:15px;
    width:18px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u4_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:0px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u10 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u13 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u16 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20 {
    position:absolute;
    left:850px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:930px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:40px;
    top:126px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:40px;
    top:190px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:40px;
    top:219px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:290px;
    top:219px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:590px;
    top:190px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:590px;
    top:219px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:840px;
    top:219px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:40px;
    top:275px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:40px;
    top:304px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:290px;
    top:304px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:590px;
    top:275px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:590px;
    top:304px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:840px;
    top:304px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:460px;
    top:365px;
    width:140px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:40px;
    top:466px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:40px;
    top:530px;
    width:50px;
    height:50px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u38 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:104px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:103px;
    top:561px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u43_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u43_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u49 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u51_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u51_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u52 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u54_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u54_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u55 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u56_container {
    position:absolute;
    left:371px;
    top:530px;
    width:50px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u57 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:435px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:434px;
    top:561px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u62_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u62_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u71 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u73_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u73_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u74 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u75_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u75_container {
    position:absolute;
    left:719px;
    top:529px;
    width:50px;
    height:50px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u76 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:783px;
    top:533px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:782px;
    top:560px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u81_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u81_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u84 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u86_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u87 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u89_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u89_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u90 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u92_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u92_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u93 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u94_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u94_container {
    position:absolute;
    left:40px;
    top:620px;
    width:50px;
    height:50px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u95 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:104px;
    top:624px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:103px;
    top:651px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u100_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u100_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u101 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u103 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u105_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u106 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u109 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u112 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u113_container {
    position:absolute;
    left:371px;
    top:620px;
    width:50px;
    height:50px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u114 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:435px;
    top:624px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:434px;
    top:651px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u119_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u119_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u120 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u121_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u122 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u124_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u124_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u125 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u127_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u127_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u128 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u130_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u130_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u131 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u132_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u132_container {
    position:absolute;
    left:719px;
    top:619px;
    width:50px;
    height:50px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u133 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:783px;
    top:623px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:782px;
    top:650px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_selected {
    background-image: url('../Home_files/u4_selected.png');
}

.u138_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u138_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u139 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u140_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u141 {
    position:absolute;
    left:3px;
    top:2px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:22px;
    top:0px;
    width:47px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:26px;
}

.u144 {
    position:absolute;
    left:3px;
    top:2px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u146_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u146_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u147 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u149_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u149_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u150 {
    position:absolute;
    left:3px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u151 {
    position:absolute;
    left:460px;
    top:707px;
    width:140px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u152 {
    position:absolute;
    left:40px;
    top:836px;
    width:990px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../Home_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:40px;
    top:10px;
    width:173px;
    height:50px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:50px;
}

.u154 {
    position:absolute;
    left:2px;
    top:17px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:615px;
    top:836px;
    width:410px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:875px;
    top:862px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

