<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="keywords" content="WDShare,西安前端交流会"/>
    <meta name="description" content="WDShare，W3C Developer Share 西安前端开发人员分享交流会"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<%- include module/header.ejs %>
出错啦，喝杯咖啡，歇一歇再试。
<%- include module/footer.ejs %>
</body>
</html>