<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>404 - WDShare</title>
<% include module/htmlhead.ejs %>
</head>

<body>
<% include module/head.ejs %>

<div class="active-body active-404">出错啦，喝杯咖啡，歇一歇再试！</div>

<% include module/foot.ejs %>
</body>
</html>