<% include module/header.ejs %>

    <link href="/static/css/login.css" rel="stylesheet"/>
    <div id="cover">
        <!--<div class="overlay"></div>-->
        <img src="/static/images/cover/cover_bg_2.jpg">
        <span data-anim="anim-cloud-small" class="anim cloud-small anim-cloud-small scale" style="-webkit-transform: scale(0.45925925925925926);"></span>
        <span data-anim="anim-cloud-large" class="anim cloud-large anim-cloud-large scale" style="-webkit-transform: scale(0.4361111111111111);"></span>
    </div>
    <div id="box">
        <div class="info left">
            <span>
                <a href="/"></a>
            </span>
        </div>
        <form action="/user/login" method="post" id="login" class="left">
            <div class="tips">
                <span>登录</span>
            </div>
            <p class="boxui"><label for="email">邮 箱：</label><input type="text" autocomplete="off" name="email" id="email" class="input inputbox" placeholder="请输入您的注册邮箱"></p>
            <p class="boxui"><label for="password">密 码：</label><input type="password" name="password" id="password" class="input inputbox" placeholder="请输入您的密码"></p>
            <p><input type="submit" value="登 录"  class="input btn blue"><a href="/user/forgotPassword">忘记密码？</a></p>
        </form>
        <div class="not-a-member">
            还没有注册？ <a href="/user/register">现在注册</a>
        </div>
    </div>
    <script src="/static/js/module/lovely/jQuery.lovely.js"></script>
    <script src="/static/js/function/validate.lovely.js"></script>
    <script src="/static/js/function/login.js"></script>

<% include module/footer.ejs %>