body {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",Helvetica,"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
/* Login Register */
#login,#register,#user,#passwordForm,#updateEmail, #category {
    width:340px;
    height:auto;
    margin:0 auto;
}
label/*#login label,#register label,#user label,#passwordForm label, #resetPassword label, #category label*/ {
    width:80px;
    text-align:right;
    display:inline-block;
}
#register p,#user p, #passwordForm p ,#updateEmail p, #category p {
    margin-bottom:15px;
}
.input.inputbox {
    height:24px;
    width:240px;
    padding:3px;
    border:none;
    background:transparent;
    line-height:24px\9;
}
.boxui {
    display: inline-block;
    vertical-align: middle;
}
.disable {
    background:#EEE;
}
.input.inputbox:focus {
    border-color: #0088cc;/*rgba(82, 168, 236, 0.8);*/
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
.input.btn {
    height: 40px;
    width: 90px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.input.btn:hover {

}
.blue {
    background: rgb(82, 168, 236);
    color: #fff;
}
.blue:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
/*  ‰»ÎøÚ¥ÌŒÛ */
.input.inputbox.unlovely {
    /*border:1px solid red;*/
}




#cover {
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    z-index:-5;
}
.overlay {
    background: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:-1;
}
#cover img {
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-4;
}

#box {
    width:650px;
    height:360px;
    position:fixed;
    top:50%;
    left:50%;
    margin:-180px 0 0 -325px;
    box-shadow:-5px 5px 5px rgba(20,20,20,0.2);
}

.info {
    width:200px;
    height:300px;
    padding:30px;
    background: #1d89cf;
    background: rgba(29,137,207,0.8);
    color:#FFF;
    display:table;
    text-align:center;
}
.info span {
    display:table-cell;
    vertical-align:middle;
}
.info a {
    color:#FFF;
}
.info img {
    display:block;
    max-width:200px;
}
#login, #register, #passwordForm, #resetPassword {
    width:330px;
    height:300px;
    padding:30px;
    background: rgba(255,255,255,0.9);
}
.input.inputbox:focus {
    border:none;
    box-shadow:none;
}
#login p.boxui, #register p.boxui, #passwordForm p.boxui, #resetPassword p.boxui {
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    line-height: 45px;
    border:1px solid #dcdcdc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 2s linear 0s, box-shadow 0.2s linear 0s;
}
#login p.boxui:active, #register p.boxui:active, #passwordForm p.boxui:active, #resetPassword p.boxui:active {
    border-color: #0088cc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
#login a, #register a, #passwordForm a, #resetPassword a {
    margin-left:25px;
    color:#555;
}
.tips {
    color: #777;
    display: block;
    font-size: 15px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}
.tips:before {
    background: #e4e4e4;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.tips span {
    background:transparent;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.not-a-member {
    color:#FFF;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}
.not-a-member a {
    color:#FFF;
    text-decoration:none;
    transition:all .3s;
}
.not-a-member a:hover {
    color:#2D83BB;
}



/* Cloud qxllq.com thx */
.anim-cloud-small {
    -webkit-animation: cloud-moving 80s linear infinite;
    -moz-animation: cloud-moving 80s linear infinite;
    -ms-animation: cloud-moving 80s linear infinite;
    -o-animation: cloud-moving 80s linear infinite;
    animation: cloud-moving 80s linear infinite;
}
.anim-cloud-large {
    -webkit-animation: cloud-moving 160s linear infinite;
    -moz-animation: cloud-moving 160s linear infinite;
    -ms-animation: cloud-moving 160s linear infinite;
    -o-animation: cloud-moving 160s linear infinite;
    animation: cloud-moving 160s linear infinite;
}
.cloud-small {
    width: 271px;
    height: 76px;
    top: 24.35%;
    left: 100%;
    z-index: 11;
    background: url(/static/images/cloud/cloud-small.png) no-repeat;
}
.cloud-large {
    width: 304px;
    height: 237px;
    top: 7.962%;
    left: 100%;
    z-index: 7;
    background: url(/static/images/cloud//cloud-large.png) no-repeat;
}
.scale {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.anim {
    position: absolute;
}

@-webkit-keyframes cloud-moving {
    from {
        left: 100%
    }

    to {
        left: -30%
    }
}

@-moz-keyframes cloud-moving {
    from {
        left: 100%
    }

    to {
        left: -30%
    }
}

@-ms-keyframes cloud-moving {
    from {
        left: 100%
    }

    to {
        left: -30%
    }
}

@-o-keyframes cloud-moving {
    from {
        left: 100%
    }

    to {
        left: -30%
    }
}

@keyframes cloud-moving {
    from {
        left: 100%
    }

    to {
        left: -30%
    }
}


.footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    min-width:1200px;
    opacity: 0.7;
}