/*
  auther:f7
  date:2014.9
*/
/*  Reset  */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,cite,code,del,em,img,q,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend { margin:0; padding:0; border:0; font-size:100%;}
body { background:#fff; color:#000; font:12px simsun; text-align:center;}
ol,ul { list-style:none;}
cite,em,strong,th,h1,h2,h3,h4,h5,h6 { font-style:normal; font-weight:normal;}
input,textarea,select,button,td { font-size:100%;}
a { color:#000; text-decoration:none;}
/*a:hover { color:#f00; text-decoration:none;}*/

a,div,p,ul,li,dl,dt,dd,input,span,em,strong,img,em,aside,section,article,nav,header,footer { -webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -o-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:rgba(0,0,0,0);}

body { width:100%; background:#f7f7f7 url("/img/bg-03.png"); font:0.9em "Microsoft YaHei"; overflow-x:hidden;}

.maxWidth { width:1000px; margin:auto;}
.maxWidth:after { display:block; clear:both; content:""; visibility:hidden; height:0;}


.nav a {
    -webkit-transition-duration:300ms;
    -moz-transition-duration:300ms;
    transition-duration:300ms;
}

.foot-weibo,
.foot-weixin { background:url("/img/icon.png") no-repeat;}

/**/
body { padding-top:50px;}
.header { width:100%; height:50px; background:#222; position:fixed; top:0; left:0; z-index:9999;}
.header .logo { color:#ddd;}
.header .logo:hover { color:#ff0;}
/*.header em { color:#007cc2;}*/
.header .logo strong { float:left; font:1.4em/50px "Microsoft YaHei"; padding-left:5%;}
.header .myname { float:right; font:0.9em/1.4em "Microsoft YaHei"; color:#ddd; padding:5px 5% 0 0; text-align:right;}

.nav { float:left; font:15px/50px "Microsoft YaHei"; color:#ccc; padding-left:30px;}
.nav li { float:left;}
.nav a { display:block; padding:0 24px; color:#bbb;}
.nav a:hover { background:#323232;}
.nav .current a { background:#323232; color:#efefef;}


/**/
.footer { margin-top:40px; background:#222324; text-align:left; padding:15px 0 20px;}
.footer-link { line-height:34px;}
.footer-link a { color:#cecece; font-size:14px; margin-right:40px;}
.footer-link a:hover { color:#70ca10;}
.footer-copyright { font-size:12px; color:#888; line-height:30px; padding-top:5px;}
.footer-copyright a { color:#70ca10;}

.footer-link .foot-weibo,
.footer-link .foot-weixin { display:inline-block; width:33px; height:26px; vertical-align:middle; margin-right:20px;}
.foot-weibo { margin-left:60px;}
.foot-weixin { background-position:-50px 0;}
.footer-link-text { color:#cecece;}



/**/
.inform { width:850px; margin:30px auto 0;}
.inform strong { font-weight:bold;}
.inform p { padding:7px 10px; border:1px solid #fab418; background:#ffe9ad; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; line-height:26px; font-size:16px;}
.inform .title { color:#666;}




/**/
.mod { width:850px; border:1px solid #ddd; background:#fff; margin:30px auto 0; text-align:left; overflow:hidden; border-radius:5px;}
.mod a { color:#069;}
.mod a:hover { color:#c00;}
.mod-head { font:bold 1.5em/1.5em "Microsoft YaHei"; padding:2% 0 2% 4%; border-bottom:1px solid #ddd; color:#555;}
.mod-head em { font-weight:bold; color:#e00;}
.mod-head .dead { color:#666;}
.mod-body { padding:1% 4% 0; text-align:left; color:#333;}
.mod-body h2 { font:bold 1.8em/2.4em "Microsoft YaHei";}
.mod-type,
.mod-summary { font:1.2em/2em "Microsoft YaHei";}
.mod-type strong,
.mod-summary strong { font-weight:bold;}
.mod-summary { padding-top:10px;}
.mod-but { padding:1.2em 0 1em;}
.mod-but a,
.mod-but input { border:0; background:#007cc2; border-radius:3px; color:#fff; display:inline-block; padding:0.6em 1.25em;
    font-size:1.57143rem; font-weight:400; max-width: 700px;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}
.mod-but a:hover { background:#cfc447; color:#fff;}


/**/
.about { padding:10px 0;}
.about-left { width:250px; float:left; margin-left:20px;}
.about-left img { width:100%;}
.about-right { margin-left:285px; padding:15px 30px 0 0;}
.about-right h2 { font:2em/1.5em "Microsoft YaHei";}
.about-right h2 span { font-size:0.6em; padding-left:15px; color:#f00;}
.about-right h2 em { display:none;}
.about-right p { font:1.2em/1.6em "Microsoft YaHei"; padding-top:10px;}

/**/
.wds-content { padding:0 0 2%; font:1.2em/1.8em "Microsoft YaHei";}
.wds-content strong { font-weight:bold;}
.wds-content h3 { font:1.6em/2.4em "Microsoft YaHei"; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding-left:4%; margin:3% -5%; background:#f9f9f9;}
.wds-content dl { width:100%; overflow:hidden; font-size:1.2em; line-height:30px; padding:10px 0;}
.wds-content dl:nth-child(even) { background:#f7f7f7; margin:0 -10px; padding-left:10px; padding-right:10px;
}
.wds-content dt { width:120px; float:left; font-size:0.8em;}
.wds-content dd { margin-left:130px; font-size:0.9em;}
.wds-content dd strong { font-weight:bold;}
.wds-content dd span { font-size:0.9em; color:#666;}

.wds-join dt { width:180px; text-align:right; line-height:2.4em;}
.wds-join dd { margin-left:190px; line-height:39px;}
.wds-join dd span { font-size:0.8em; color:#ddd; padding-left:15px;}
.wds-join dd em { font-size:0.8em; color:#f00; padding-left:15px;}
.wds-join dd input { width:230px; border-radius:3px; font:1em/1em "Microsoft YaHei"; padding:8px 8px 5px; border:1px solid #ccc;}
.wds-join dd em { display:none;}
.wds-join .radio input { border:0; width:auto; vertical-align:middle; margin-top:-3px;}
.wds-join .radio label { float:left; padding-right:20px; line-height:2.4em;}
.wds-join textarea { border:1px solid #ccc; width:400px; height:50px; border-radius:3px; font:1em/1em "Microsoft YaHei"; padding:5px; line-height:1.4em;}
.wds-join .mod-but input { border:0; font:400 1.5em/1.8em "Microsoft YaHei"; padding-bottom:10px;}
.wds-join .mod-but input:hover { background:#cfc447;}


.manage { text-align:left; margin:0 50px;}
.manage h3 { font-size:2em; line-height:2em;}
.manage h4 { font-size:1.5em; color:#c00; line-height:2em;margin-top:2em;}
.manage h4 a { font-size:0.7em; padding-left:20px;}

.weibo-guestbook-note { display:none;}

.ui.celled.table {
    font: 0.9em "Microsoft YaHei";
}
.ui.celled.table.nine td {
    width:11%;
    text-align:center!important;
}
.uc-op a {
    margin:0 5px;
}
.ui.table thead th {
    text-align:center!important;
}

@media screen and (max-width:1000px) {
    .header .myname { display:none;}
    .footer-link,
    .footer-copyright { width:90%; margin:auto;}
    .mobel-hide { display:none;}
}


@media screen and (max-width:850px) {
    .inform { width:95%; max-width:850px;}
    .mod { width:95%;}
    .about { padding:0 20px;}
    .about-left { width:190px; margin-right:10px; margin-left:0; padding-top:18px;}
    .about-right { margin-left:0; display:inline; padding:0 20px;}
    .about-right h2 { line-height:2em;}
    .about-right h2 span { display:block; line-height:1.8em;}
    .about-right p {/* padding:0;*/ font-size:1.1em;}

    .wds-join dt { width:160px;}
    .wds-join dd { margin-left:170px;}
}

@media screen and (max-width:800px) {
    body { padding-top:100px;}
    .header .logo strong { float:none;}
    .nav { background:#444; float:none; width:100%; padding-left:0; overflow:hidden;}
    .nav a { padding:0 9px;}

    /* hide comment */
    .weibo-guestbook-note { display:block;}
    .weibo-guestbook { display:none;}
}

@media screen and (max-width:550px) {
    .foot-weibo { clear:left; margin-left:0;}
}

@media screen and (max-width:500px) {
    .about-left { width:150px;}
    .about-right h2 { font-size:1.4em;}
    .about-right h2 span { font-size:0.8em; line-height:1.1em;}
    .mod-body h2 { line-height:1.5em; padding:2% 0;}
}
@media screen and (max-width:390px) {
    .about-left { display:none;}
    .about-right h2 { }
    .about-right h2 span { font-size:0.8em; line-height:1.1em; padding-left:0;}
    .about-right h2 em { display:block; font-size:0.8em; line-height:1.1em; color:#060; padding-top:8px;}
    .fullname { display:none;}

    .mod-body { font-size:0.9em;}
    .mod-body h2 { font-weight:normal; font-size:1.5em;}

    .wds-content dl { line-height:1.4em;}
    .wds-content dt { font-size:0.6em; width:80px;}
    .wds-content dd { margin-left:85px; font-size:0.9em;}
    .wds-content dl:nth-child(even) { margin:0 -5px; padding-left:5px; padding-right:5px;}
}

@media screen and (max-width:740px) {
    .wds-join dt { width:95px; font-size:0.8em;}
    .wds-join dd { margin-left:100px;}
    .wds-join dd input { width:200px; font-size:0.8em;}
    .wds-join dd textarea { width:350px; font-size:0.8em;}
    .wds-join dd.mod-but { margin-left:0; text-align:center;}
}
@media screen and (max-width:600px) {
    .wds-join dd input { width:160px; font-size:0.8em;}
    .wds-join dd span { display:none;}
    .wds-join dd textarea { width:250px; font-size:0.8em;}
}
@media screen and (max-width:420px) {
    .wds-join dd textarea { width:200px; height:70px; font-size:0.8em;}
}
@media screen and (max-width:320px) {
    .wds-join dt { width:85px;}
    .wds-join dd { margin-left:90px;}
    .wds-join dd input { width:150px;}
    .wds-join dd em { padding-left:0;}
    .wds-join dd textarea { width:150px; height:70px; font-size:0.8em;}
}
