<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title><%= title %> - WDShare</title>
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>

<div class="active-body active-404"><%= msg %><br /><a href="/article">查看其它文章</a></div>

<% include ../etc/foot.ejs %>
</body>
</html>