
<div class="myhome-head">
  <div class="myhome-head-bg">
    <div class="myhome-head-con maxWidth">
      <div class="myhome-head-user">
      	<% if (who  == "我") { %>
      	<a href="/user/editFace"><img src="/user/face/<%=member._id%>" /></a>
      	<% } else { %>
      	<img src="/user/face/<%=member._id%>" />
      	<% } %>
      	<h1><%=member.username%></h1>
      </div>
    </div>
  </div>
</div>