<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>WDShare管理中心</title>
<meta name="auther" content="F7" />
<% include ./etc/htmlhead.ejs %>
</head>

<body>
<div class="login-main">
  <div class="login-inner">
    <div class="login-title">
      <h1>WDShare 管理后台</h1>
      <h3 class="login-subhead">输入信息登录到您的帐户</h3>
      <h3 class="login-error"></h3>
    </div>
    <form id="js-manageLoginForm" name="manageLoginForm" method="post" action="">
      <p class="login-input login-username"><input type="text" name="username" placeholder="输入您的帐号"></p>
      <p class="login-input login-password"><input type="password" name="password" placeholder="输入您的密码"></p>
      <!-- <p class="login-input login-code"><input type="text" name="code" placeholder="验证码" /> <img id="code" src="/static/skin2015/img/vcode.png" onclick="document.getElementById('code').src +='?'+new Date().getTime(); return false;" /></p> -->
      <div class="login-but">
        <input type="submit" name="submitbutton" value="登录">
      </div>
      <p class="link">联系管理员：wdshare@163.com</p>
    </form>
  </div>
</div>


<% include ./etc/foot.ejs %>
</body>
</html>