/* Dialog */
.mydialog .D_shade,
.mydialog .D_content { z-index:999;}
.mydialog .D_content { border:1px solid #ccc; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; background:#fff; box-shadow:0 0 15px #555; font-family:"Microsoft YaHei"; text-align:left; font-size:14px; overflow:hidden;}
.mydialog .D_head { line-height:44px; background:#f3f3f3; border-bottom:1px solid #ddd;}
.mydialog .D_title { white-space:nowrap; font-size:16px; margin:0; text-align:center; color:#333;}
.mydialog .D_head .D_close { font-size:20px; position:absolute; top:10px; *top:0; right:15px; line-height:20px; display:none;}
.mydialog .D_head .D_close:hover { color:#c00; text-decoration:none;}
.mydialog .D_body { min-width:200px; padding:20px 30px 25px;}
.mydialog .D_alert { text-align:center; padding:10px 0;}
.mydialog .D_foot { padding:0 0 20px; text-align:center; border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -o-border-radius:0 0 10px 10px;}
.mydialog .D_body .D_foot { padding-bottom:0;}
.mydialog .D_foot input { cursor:pointer; display:inline-block; margin:0 12px; line-height:34px; padding:0 20px; border:0; color:#fff; font-family:"Microsoft YaHei"; font-size:14px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-transition-duration:200ms; -moz-transition-duration:200ms; transition-duration:200ms;}
.mydialog .D_foot .D_submit { background:#f44c48;}
.mydialog .D_foot .D_submit:hover { color:#fff; background:#f26b12;}
.mydialog .D_foot .D_submit:active { background:#eb7e00;}
.mydialog .D_foot .D_cancel { background:#fff; color:#444; border:1px solid #ccc;}
.mydialog .D_foot .D_cancel:hover { color:#fff; background:#ddd; color:#000;}
.mydialog .D_foot .D_cancel:active { background:#ccc;}

/*  */
.simpledialog .D_shade,
.simpledialog .D_content { z-index:999;}
.simpledialog .D_content { width:80%; margin:auto; border:1px solid #ccc; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; background:#fff; box-shadow:0 0 15px #555; font-family:"Microsoft YaHei"; text-align:left; font-size:14px; overflow:hidden;}
.simpledialog .D_head { display:none;}
.simpledialog .D_body { padding:20px 15px 25px;}
.simpledialog .D_alert { text-align:center; padding:10px 0;}
.simpledialog .D_foot { padding:0 0 12px; text-align:center; border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -o-border-radius:0 0 10px 10px;}
.simpledialog .D_body .D_foot { padding-bottom:0;}
.simpledialog .D_foot input { cursor:pointer; display:inline-block; margin:0 6px; line-height:32px; padding:0 25px; border:0; color:#fff; font-family:"Microsoft YaHei"; font-size:14px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-transition-duration:200ms; -moz-transition-duration:200ms; transition-duration:200ms;}
.simpledialog .D_foot .D_submit { background:#f44c48;}
.simpledialog .D_foot .D_submit:hover { color:#fff; background:#f26b12;}
.simpledialog .D_foot .D_submit:active { background:#eb7e00;}
.simpledialog .D_foot .D_cancel { background:#fff; color:#444; border:1px solid #ccc; line-height:30px; padding:0 23px;}
.simpledialog .D_foot .D_cancel:hover { color:#fff; background:#ddd; color:#000;}
.simpledialog .D_foot .D_cancel:active { background:#ccc;}