/*
  auther:f7
  date:2015.7
*/
/*  Reset  */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,cite,code,del,em,img,q,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend { margin:0; padding:0; border:0; font-size:100%;}
body { background:#fff; color:#000; font:14px "Microsoft YaHei"; text-align:left;}
ol,ul { list-style:none;}
cite,em,strong,th,h1,h2,h3,h4,h5,h6 { font-style:normal; font-weight:normal;}
input,textarea,select,button,td { font-size:100%;}
a { color:#000; text-decoration:none;}
a:hover { color:#4183c4; text-decoration:none;}

a,div,p,ul,li,dl,dt,dd,input,span,em,strong,img,em,aside,section,article,nav,header,footer { -webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -o-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:rgba(0,0,0,0);}
input { outline:none; font-family:"Microsoft YaHei";}
textarea { outline:none; resize:none;}


/**/
body { background:#f7f7f7;}

.maxWidth { width:80%; max-width:1350px; margin:auto;}
.maxWidth:after,
.activity-con:after,
.mamber-con:after { display:block; clear:both; content:""; visibility:hidden; height:0;}

.hd-nav a,
.icon-top-arrows,
.hd-nav-child,
.but,
.active-head-but a,
.login-but input,
.module-but a,
.addActive-form-but input,
.upface-submit a {
  -webkit-transition-duration:250ms;
  -moz-transition-duration:250ms;
  transition-duration:250ms;
}


/**/
.but { display:inline-block; font:14px/34px "Microsoft YaHei"; padding:0 20px;}
.but-gray { background:#ddd; background-image:linear-gradient(#ddd, #ccc); color:#333;}
.but-gray:hover { color:#333; background:#c2c2c2;}
.but-blue { background:#4183c4; background-image:linear-gradient(#4183c4, #3a74ad); color:#fff;}
.but-blue:hover { color:#fff; background:#3188de;}
.but-white { border:1px solid #ddd; background:#ebebeb; background-image:linear-gradient(#f7f7f7, #eee); color:#333;}
.but-white:hover { color:#333; background:#eee;}


/**/
.header { background:#f5f5f5; border-bottom:1px solid #e5e5e5; position:relative; z-index:999;}
.hd-logo { float:left; padding:15px 0;}
.hd-logo img { height:40px; display:block;}
.hd-nav { float:left; padding-left:40px;}
.hd-nav li { float:left;}
.hd-nav li a { display:block; padding:0 20px; line-height:70px; font-size:16px;}
.hd-nav-hover,
.hd-nav-label { position:relative;}
.hd-nav-hover:hover .hd-nav-child { display:block; position:absolute; top:53px; left:0;}
.hd-nav-hover:hover .icon-top-arrows { transform:rotate(135deg); margin-bottom:0;}

.hd-nav-line { height:3px; width:20%; overflow:hidden;}

.hd-nav-label .count { position:absolute; right:3px; top:9px; background:#f00; color:#fff; width:18px; height:18px; font-size:12px; line-height:18px; border-radius:10px; text-align:center; display:none;}

/**/
.icon-top-arrows { display:inline-block; width:0px; height:0px; margin:0 0 4px 10px; border-bottom:10px solid #999; border-right:9px solid transparent; transform:rotate(-45deg);}
.hd-nav-child { display:none; width:112px; background:#f5f5f5; border:1px solid #e5e5e5; border-top:0; margin-top:17px;}
.hd-nav .hd-nav-child a { font-size:15px; line-height:40px;}
.hd-nav .hd-nav-child a:hover { background:#ddd; color:#000;}

/**/
.hd-login { float:right;}
.hd-login a { margin-top:18px;}
.hd-login a span { color:#ff0;}
.hd-login .but-login { border-radius:10px 0 0 10px; -webkit-border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px; -o-border-radius:10px 0 0 10px;}
.hd-login .but-reg { border-radius:0 10px 10px 0; -webkit-border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0; -o-border-radius:0 10px 10px 0;}



/**/
.footer { background:#eee; border-top:1px solid #ddd; line-height:26px; color:#666; font-size:12px;}
.footer a { color:#666;}
.footer a:hover { color:#000;}
.footCon { padding:20px 0; position:relative;}
.foot-link { float:left;}
.foot-sns { position:absolute; left:50%; margin-left:-48px; text-align:center;}
.foot-copyright { float:right; text-align:right;}

.foot-link a { display:inline-block; padding-right:25px;}

.foot-sns a { background:#bbb; display:inline-block; margin:0 5px; padding:5px; border-radius:40px; position:relative;}
.foot-sns a img { width:20px; height:20px; display:block;}
.foot-sns-qq:hover { background:#3693d6;}
.foot-sns-weixin:hover { background:#1c980b;}
.foot-sns-weibo:hover { background:#d52b2a;}

.foot-sns-note { display:none; position:absolute; border:1px solid #ccc; background:#fff; border-radius:5px;}
.foot-sns a:hover .foot-sns-note { display:block;}
.foot-sns-qq .foot-sns-note { top:-55px; left:-226px; width:480px; line-height:40px;}
.foot-sns-weibo .foot-sns-note { top:-55px; left:-86px; width:200px; line-height:40px;}
.foot-sns-weixin .foot-sns-note { top:-205px; left:-86px; width:200px; line-height:25px; padding:10px 0 5px;}
.foot-sns-weixin .foot-sns-note img { width:150px; height:150px; display:block; margin:auto;}

.foot-sns-note .triangle { position:absolute; left:50%; bottom:-6px; width:10px; height:10px; margin-left:-5px; background:#fff; border-left:1px solid #ccc; border-bottom:1px solid #ccc; transform:rotate(-45deg); overflow:hidden;}



/**/
.login-title { text-align:center; padding-bottom:5px;}
.login-title h1 { padding-top:10px; font-weight:normal; color:#fff; font-size:1.8em; line-height:200%;}
.login-title h3 { font-weight:normal; color:#838383; font-size:1.2em; line-height:150%;}
.login-main {
  background: #3a74ad; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #3a74ad 0%, #3da0b5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3a74ad), color-stop(100%,#3da0b5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* IE10+ */
  background: linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a74ad', endColorstr='#3da0b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.login-main-bg { padding: 40px 0; background:url(../img/active-head-bg.png) repeat center center;}
.login-inner { background:rgba(255,255,255,.5); border-radius:15px; width:90%; max-width:500px; min-width:290px; margin:100px auto 100px; padding:10px 0 30px 0;}
.login-inner p { margin:15px auto;}
.login-inner .link { text-align:center; font-size:18px; padding-top:25px; margin-bottom:0;}
.login-inner .link a { padding:0 26px;}

.login-main .text-message { font-size:16px; width:80%; margin:auto; padding:15px 0; line-height:180%;}
.login-main .text-message a { font-weight:bold; color:#00f;}
.login-main .text-message a:hover { color:#c00;}

/**/
.login-input { width:205px; margin-left:auto; margin-right:auto; padding-left:50px; background-color:#f5f6f9; background-repeat:no-repeat; background-position:15px center; background-size:22px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;}
.login-input input { width:190px; line-height:16px; font-size:.9rem; border:0; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; padding:11px 0 11px 5px; background-color:#f5f6f9; margin-bottom:1px; font-size:16px;}

.login-username { background-image:url("../img/icon-login-username.png")}
.login-password { background-image:url("../img/icon-login-password.png")}

.login-code { width:257px; border:0; background:none; padding-left:0;}
.login-code input { background:#f7f7f7; padding-left:15px; width:110px; border:0;}
.login-code img { width:110px; height:38px; vertical-align:top; margin-left:10px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; cursor:pointer;}
.login-remember { display:block; width:240px; text-align:left;  vertical-align:middle; padding:5px 0; margin:0 auto;}
.login-remember span { padding-left:10px;}

.login-but { text-align:center;}
.login-but input { cursor:pointer; margin:10px auto 0; display:inline-block; width:255px; color:#fff; line-height:44px; font-size:1.1rem; background:#ff6201 url("../img/icon-login-submit.png") no-repeat 160px center; background-size:8px; border:0; /*border-bottom:4px solid #007448;*/ box-shadow:0 4px 0 #b64600; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; letter-spacing:0.3em;}
.login-but input:hover { background-color:#ff3d01;}

.login-subhead { display:block;}
h3.login-error { display:none; color:#f00;}


/**/
.module { padding-top:30px;}
.module-title { font-size:24px; line-height:200%; overflow:hidden;}
.module-title-note { font-size:16px; margin-left:30px;}
.mudule-more { text-align:center; padding:20px 0 10px;}
.mudule-more a { line-height:40px; font-size:16px; padding:0 50px; border-radius:10px;}
.module-but { float:right;}
.module-but a { margin:5px 0 0; line-height:40px; display:inline-block; background:#ff8a00; color:#fff; font-size:16px; padding:0 15px; border-radius:5px;}
.module-but a:hover { background:#ffcc00;}


/**/
.ie { text-align:center; font-size:18px; line-height:200%; padding:200px 50px; display:none; *display:block;}
div { *display:none;}


/**/
.inform { padding-top:40px; background:#fff;}
.inform-con { padding:7px 10px; border:1px solid #fab418; background:#ffe9ad; border-radius:5px; line-height:26px; font-size:16px;}
.inform strong { font-weight:bold;}
.inform .red { color:#f00;}
.inform .title { color:#666;}


/**/
.activity { background:#fff; padding-bottom:30px;}
.activity-item { width:50%; float:left; padding:20px 0; position:relative;}
.activity-title { font-size:16px; line-height:180%;}
.activity-type { line-height:28px; color:#666;}
.activity-type span { padding-right:25px;}

.activity-title em { color:#4183c4;}
/*.activity-item:hover { background:#f7f7f7;}*/
.activity-item:hover .activity-title em { border-bottom:1px dashed #4183c4;}

.activity-item:nth-child(odd) .activity-title { padding-right:30px;}
.activity-item:nth-child(even) .activity-title { padding-left:30px;}
.activity-item:nth-child(odd) .activity-type { padding-right:30px;}
.activity-item:nth-child(even) .activity-type { padding-left:30px;}

.activity-state { float:right; margin-right:5%; position:absolute; top:21px; right:0;}
.activity-state span { display:block; border:1px solid #ccc; background:#f7f7f7; color:#999; line-height:50px; padding:0 10px; white-space:nowrap;}
.activity-state .over { display:none;}
.activity-state .ready { background:#e9f1f4; color:#999; border:1px solid #d8dee2; color:#6b808d;}
.activity-state .open { background:#3188de; color:#999; border:1px solid #3188de; color:#fff;}
.activity-item:hover .activity-state .open { background:#3a74ad; color:#999; border:1px solid #3a74ad; color:#fff;}

.activity-list .activity-con { min-height:700px;}


/**/
.article-list { background:#fff; padding-bottom:30px;}
.article-list-con { width:100%; overflow:hidden;}
.article-item { width:50%; float:left; padding:20px 0; position:relative; overflow:hidden;}
.article-item-text { margin-left:65px; display:block;}
.article-item-user { float:left; width:50px; height:50px; padding-top:3px;}
.article-item-user img { display:block; border-radius:100px; max-width:100%;}
.article-item-title { width:95%; font-size:16px; line-height:180%; margin:0; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.article-item-title a { position:relative;}
.article-item-title .link-url { font-size:12px; color:#000; position:absolute; top:-3px; right:-40px;}
.article-item-type { line-height:28px; color:#999;}
.article-item-type span { padding-right:15px;}
.article-item-type a { color:#666;}
.article-item-type a:hover { color:#4183c4;}

.article-item-title em { color:#4183c4;}
.article-item-text a:hover em { border-bottom:1px dashed #4183c4;}

.article-item:nth-child(odd) .article-item-text { padding-right:15px;}
.article-item:nth-child(even) .article-item-user { padding-left:15px;}
.article-item:nth-child(even) .article-item-text { margin-left:80px;}

.article-item-state { float:right; margin-right:5%; position:absolute; top:21px; right:0;}
.article-item-state span { display:block; border:1px solid #ccc; background:#f7f7f7; color:#999; line-height:50px; padding:0 10px; white-space:nowrap;}
.article-item-state .over { display:none;}
.article-item-state .ready { background:#e9f1f4; color:#999; border:1px solid #d8dee2; color:#6b808d;}
.article-item-state .open { background:#3188de; color:#999; border:1px solid #3188de; color:#fff;}
.article-item:hover .article-item-state .open { background:#3a74ad; color:#999; border:1px solid #3a74ad; color:#fff;}
.article-list-con { min-height:700px;}

/**/
.pages { text-align:center; padding-bottom:30px;}
.pages a,
.pages span { display:inline-block; line-height:30px; border:1px solid #ccc; border-radius:5px; padding:0 12px; margin:0 2px;}
.pages span { border:0;}
.pages .pages-omit { padding:0 5px;}
.pages .pages-current { border:0; font-weight:bold; color:#f00; padding:0 8px;}
.pages a:hover { background:#f40; color:#fff; border:1px solid #f40;}
.pages .pages-dead { color:#ccc; border:1px solid #ddd;}

/**/
.index-mamber { border-top:1px solid #e5e5e5; padding-bottom:30px; background:#fff;}
.mamber-item { width:50%; float:left; padding:20px 0;}
.mamber-title { font-size:16px; line-height:180%;}
.mamber-type { line-height:28px; color:#666;}

.mamber-title a { color:#4183c4;}
.mamber-title a:hover { border-bottom:1px dashed #4183c4;}

.mamber-face { float:left; width:50px;}
.mamber-face img { width:50px; height:50px; display:block; border-radius:50px;}
.mamber-text { margin-left:65px;}

.mamber-label { float:left; position:relative; margin:0 20px 0 0;}
.mamber-label a { color:#666;}
.mamber-label a:hover { border-bottom:0;}
.mamber-label a em { display:inline-block; width:0px; height:0px; margin:0 0 0 6px; border-bottom:10px solid #999; border-left:9px solid transparent;}
.mamber-label ul { display:none; width:100px; position:absolute; left:60px; top:0; border:1px solid #e5e5e5; background:#fff; font-size:13px; line-height:30px; padding:5px 0; border-radius:10px; z-index:10;}
.mamber-label ul li { padding:0 10px;}
.mamber-label ul li:nth-child(even) { background:#f2f2f2;}
.mamber-label:hover ul { display:block;}

.mamber-type span { margin-right:15px;}

.mamber-item:nth-child(odd) .mamber-text { padding-right:30px;}
.mamber-item:nth-child(even) .mamber-face { padding-left:30px;}
.mamber-item:nth-child(even) .mamber-text { margin-left:95px;}


.more-loading img { vertical-align:middle; margin-right:10px;}
.more-loading { padding:4px 0 5px;}

/**/
.index-article { border-top:1px solid #e5e5e5; padding-bottom:30px;}
.index-article .article-list-con { min-height:0;}



/* article */
.article { background:#fff; padding-bottom:80px;}

.article .shareto a {
	-webkit-transition-duration:250ms;
	-moz-transition-duration:250ms;
	transition-duration:250ms;
}

.article-head { padding:0 0 30px; zoom:1; overflow:hidden; position:relative;}

.article-head-user { width:58px; float:left; margin-right:15px; padding-top:8px;}
.article-head-user img { display:block; width:100%;}

.article-head-left { margin-left:60px;}
.article-head-right { position:absolute; top:0; right:0; text-align:right; color:#bbb; padding-top:15px;}
.article-head-right em { font-size:32px;}
.article-top-zan { float:right; color:#ff8400; padding-top:4px;}

.article-title { font:bold 1.4em/1.6em "Microsoft YaHei"; padding:5px 350px 5px 0;}
.article-type { color:#bbb; line-height:24px; padding-left:10px;}
.article-type a,
.article-type span { margin-right:20px;}
.article-type span a { margin-right:0;}
.article-type a { color:#4183c4;}
.article-type a:hover { color:#ff8400;}
.article-time em { display:inline-block; width:16px; height:16px; margin:0 5px -2px 0; background-position:-120px 0; text-align:left; text-indent:-999em; overflow:hidden;}
a.article-top-comment-link { color:#ff8400;}
.article-top-comment-link em { display:inline-block; width:15px; height:15px; margin:0 5px -1px 0; background-position:-90px 0; text-align:left; text-indent:-999em; overflow:hidden;}
.article-top-comment-link:hover em { background-position:-90px -30px;}
.article-author a { margin-right:0;}



.article-head-right .shareto { float:right; margin-right:20px; padding-top:4px;}
.article .shareto a { float:left; width:26px; height:26px; background-color:#ccc; margin:0 2px; background-position:center center; padding:6px 8px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; background-repeat:no-repeat;}
.article .shareto .bds_weixin { background-image:url("../img/share-weixin.png");}
.article .shareto .bds_weixin:hover { background-color:#1c980b;}
.article .shareto .bds_tsina { background-image:url("../img/share-tsina.png");}
.article .shareto .bds_tsina:hover { background-color:#d52b2a;}
.article .shareto .bds_sqq { background-image:url("../img/share-sqq.png");}
.article .shareto .bds_sqq:hover { background-color:#3693d6;}
.article .shareto .bds_qzone { background-image:url("../img/share-qzone.png");}
.article .shareto .bds_qzone:hover { background-color:#3183d6;}
.article .shareto .bds_douban { background-image:url("../img/share-douban.png");}
.article .shareto .bds_douban:hover { background-color:#377b40;}
.article .shareto .bds_renren { background-image:url("../img/share-renren.png");}
.article .shareto .bds_renren:hover { background-color:#046cd0;}

.article-con { font-size:16px; line-height:200%; padding-bottom:30px;}
.article-con strong { font-weight:bold;}
.article-con p { padding:10px 0;}
.article-con h3,
.article-con h4,
.article-con h5,
.article-con h6 { font-size:21px; font-weight:400; line-height:26px; border-bottom:1px solid #ddd; padding:30px 0 10px; margin-bottom:15px; color:#333;}
.article-con h3 { font-weight:bold;}
.article-con h5 { font-size:18px; padding-top:15px;}
.article-con h6 { font-size:16px; padding-top:15px;}

.article-tag { margin:30px 0 20px; font-size:16px;}
.article-tag a { color:#4183c4; margin-right:15px;}
.article-tag a:hover { color:#ff8400;}

/**/
.article-like { margin:15px 0 0; line-height:50px; display:block; background:#ff8a00; color:#fff; font-size:18px; text-align:center; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; letter-spacing:0.1em;}
.article-like:hover { background:#ff6600; color:#fff;}
.article-like span { width:14px; height:14px; line-height:14px; display:inline-block; text-align:left; text-indent:-999em; background-position:-60px -60px; margin:0 10px -2px 0; overflow:hidden;}
.article-foot { zoom:1; margin:0 30px; line-height:28px; overflow:hidden; padding:15px 0;}

.crumbs-article .article-head-left { margin-left:0;}



/* active */
.active-head { background:#1b674d; color:#eee;}
.active-head { color: #fff; text-align:left; text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075); background: #b13938; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #b13938 0%, #c47f3e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b13938), color-stop(100%,#c47f3e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* IE10+ */
  background: linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13938', endColorstr='#c47f3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.active-head-bg { padding: 40px 0; background:url(../img/active-head-bg.png) repeat center center;}
.active-head-con { line-height:200%; padding:50px 0; font-size:16px; position:relative;}
.active-head-con a { color:#fff;}
.active-head-con a:hover { color:#ff0;}
.active-title { font-size:28px; color:#fff; padding-bottom:30px;}
.active-head-but { position:absolute; top:50%; right:0; z-index:2;}
.active-head-but a { border:1px solid rgba(0,0,0,0.1); border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); margin:-30px 0 0; line-height:60px; display:block; background:#8dc153; color:#fff; font-size:22px; text-align:center; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; letter-spacing:0.1em; padding:0 30px; background:#5bb75b;}
.active-head-but a:hover { background:#51a351;}
.active-head-but span { display:block; font-size:28px; margin:-30px 0 0;}


/**/
.active-body { width:60%; margin:auto; padding:50px 0;}
.active-body h3 { font-size:24px; line-height:200%;}
.active-aummary { font-size:16px; line-height:180%; padding-bottom:30px;}
.active-content-bg { background:#fff;}
.active-con { line-height:180%; font-size:16px; padding-top:10px;}
.active-con strong { font-weight:bold;}
.active-con p { padding:5px 0;}
.active-con dl { overflow:hidden; padding:20px 0;}
.active-con dl:nth-child(odd) { background:#eee;}
.active-con dt { width:140px; float:left; text-align:right;}
.active-con dd { margin-left:160px;}
.active-con dd span { color:#666; font-style:italic;}
.active-con a { color:#4183c4;}
.active-con img { display:inline-block; margin-right:5px;}

/**/
#js-description { display:none;}

/**/
.active-join-bg { background:#f2f2f2;}
.active-join-bg .active-body { padding-top:0;}
.active-join { padding:40px 0 0;}
.active-join-con { line-height:180%; font-size:16px; padding-top:10px;}
.active-join-con p { padding:5px 0;}
.active-join strong { font-weight:bold;}
.active-join form { padding-top:20px;}
.active-join dl { overflow:hidden; padding:20px 0;}
.active-join dl:nth-child(even) { background:#e7e7e7;}
.active-join dl:last-child { background:none;}
.active-join dt { float:left; width:180px; text-align:right; line-height:2.4em;}
.active-join dd { margin-left:190px; line-height:39px;}
.active-join dd span { font-size:0.8em; color:#ccc; padding-left:15px;}
.active-join dd em { font-size:0.8em; color:#f00; padding-left:15px;}
.active-join dd input { width:230px; border-radius:10px; font:1em/1em "Microsoft YaHei"; padding:8px 8px 5px; border:1px solid #ccc;}
.active-join dd em { display:none;}
.active-join dd img { height:34px; vertical-align:middle; margin-top:-7px; border-radius:5px; cursor:pointer;}
.active-join .radio input { border:0; width:auto; vertical-align:middle; margin-top:-3px;}
.active-join .radio label { float:left; padding-right:20px; line-height:2.4em;}
.active-join textarea { border:1px solid #ccc; border-radius:10px; width:400px; height:50px; font:1em/1em "Microsoft YaHei"; padding:5px; line-height:1.4em;}
.form-but input {
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
.active-join .form-but input { background:#007cc2; color:#fff; border:0; font:400 1.5em/1.8em "Microsoft YaHei"; padding-bottom:10px; cursor:pointer;}

.active-join .form-but input:hover { background:#cfc447;}

.active-login { margin:20px 0; border:1px solid #4183c4; box-shadow:0 0 5px #4183c4; padding:20px 0; text-align:center; font-size:20px; background:#fff; overflow:hidden;}
.active-login a { margin:0 0 0 30px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px;}
/*.active-login .but-login { background:#5bb75b;}
.active-login .but-login:hover { background:#51a351;}*/

.dialog-jion-alert { text-align:center; padding:30px; line-height:200%; font-size:1.6em;}




.active-404,
.joinconfirm { padding:100px 0 320px; text-align:center; font-size:20px; line-height:260%;}
.active-404 a,
.joinconfirm a { font-weight:bold; color:#4183c4;}
.active-404 a:hover,
.joinconfirm a:hover { color:#c00;}

.active-comment { padding-bottom:80px;}



/**/
.myhome-head {
  background:#3a74ad;
  background: -moz-linear-gradient(45deg,  #3a74ad 0%, #3da0b5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3a74ad), color-stop(100%,#3da0b5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* IE10+ */
  background: linear-gradient(45deg,  #3a74ad 0%,#3da0b5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a74ad', endColorstr='#3da0b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.myhome-head { color: #fff; text-align:left; text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.myhome-head-bg { padding: 0 0; background:url(../img/active-head-bg.png) repeat center center;}
.myhome-head-con { line-height:200%; padding:50px 0; font-size:16px; position:relative; min-height:200px;}
.myhome-head-con a { color:#fff;}
.myhome-head-con a:hover { color:#ff0;}

.myhome-head-girl {
  background:#1b674d; color:#eee;
  background: -moz-linear-gradient(45deg,  #b13938 0%, #c47f3e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b13938), color-stop(100%,#c47f3e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* IE10+ */
  background: linear-gradient(45deg,  #b13938 0%,#c47f3e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13938', endColorstr='#c47f3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.myhome-head-user { text-align:center; padding-top:10px;}
.myhome-head-user img { width:128px; height:128px; border-radius:200px; vertical-align:middle; margin:auto;}
.myhome-head-user h1 { font-size:28px; line-height:200%; padding-top:10px;}


.myhome-nav { line-height:220%; background:#ccc; color:#000; font-size:18px; text-align:center;}
.myhome-nav a { display:inline-block; padding:0 15px; margin:10px 0;}
.myhome-nav a:hover,
.myhome-nav .current { background:#666; color:#fff;}


/**/
.edit-body { width:60%; margin:auto; padding:50px 0 80px; min-height:350px;}

.edit-body dl { width:80%; margin:auto; overflow:hidden; padding:6px 0; line-height:32px;}
.edit-body dt { float:left; width:100px; text-align:right;}
.edit-body dd { margin-left:110px;}
.edit-body .in-text { width:220px; line-height:16px; border:1px solid #ccc; border-radius:8px; padding:7px 5px; background-color:#f2f2f2; font-size:14px;}
.edit-body dd span { padding-left:20px; font-size:14px; color:#999;}
.edit-body dd textarea { width:400px; line-height:16px; border:1px solid #ccc; border-radius:8px; padding:7px 5px; background-color:#f2f2f2; font-size:14px; line-height:20px;}
.edit-body dd select { width:232px; line-height:16px; border:1px solid #ccc; border-radius:8px; padding:7px 5px; background-color:#f2f2f2;}
.edit-body dd label { padding-right:20px;}
.edit-body dd .text-content { height:100px;}
.edit-but { text-align:center; padding-top:20px;}
.edit-but input,
.select-face-file span { cursor:pointer; margin:10px auto 0; display:inline-block; width:255px; color:#fff; line-height:44px; font-size:1.1rem; background:#ff6201 url("../img/icon-login-submit.png") no-repeat 160px center; background-size:8px; border:0; /*border-bottom:4px solid #007448;*/ box-shadow:0 4px 0 #b64600; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; letter-spacing:0.3em;}
.edit-but input:hover,
.select-face-file:hover span { background-color:#ff3d01;}

.edit-body h2 { border-top:1px solid #ccc; text-align:center; height:40px; margin-top:40px;}
.edit-body h2 strong { background:#f7f7f7; display:inline-block; line-height:30px; font-size:16px; font-weight:bold; padding:0 20px; position:relative; top:-15px;}
.edit-body h2 em { color:#666; font-size:14px;}

/**/
.select-face-file-node { font-size:18px; text-align:center; padding-top:40px;}
.select-face-file-node strong { font-weight:bold;}
.select-face-file { width:250px; margin:40px auto 0; position:relative; height:54px; overflow:hidden;}
.select-face-file span { display:block; width:100%; text-align:center; background:#ff6201;  line-height:50px; font-size:20px; margin:0;}
.select-face-file input { position:absolute; top:0; right:0; font-size:85px; height:332px; filter:alpha(opacity=0); opacity:0; cursor:pointer;}

.upface-preview-loading { font-size:16px; text-align:center; padding-top:80px; display:none;}
.upface-preview { text-align:center; padding-top:50px;}
.upface-preview img { display:inline-block; margin:0 30px; vertical-align:middle; height:auto;}
.face-square-big { width:128px;}
.face-round-big { width:128px; border-radius:128px;}
.face-square-small { width:50px;}
.face-round-small { width:50px; border-radius:50px;}
.upface-preview .face-square-small { margin-left:100px;}
.upface-submit { text-align:center; padding-top:80px; display:none;}
.upface-submit a { display:inline-block; width:230px; border-radius:10px; padding:8px 8px 5px; background:#007cc2; color:#fff; border:0; font:400 1.5em/1.8em "Microsoft YaHei"; padding-bottom:10px; cursor:pointer;}
.upface-submit a:hover { background:#cfc447;}

.upload-progress { -webkit-transition-duration:200ms; -moz-transition-duration:200ms; transition-duration:200ms;}
.upload-progress { width:300px; text-align:left; padding:0 0 10px; background:#fff; background:rgba(255,255,255,.9); display:block; max-height:400px; overflow:auto; z-index:9999; padding-left:5px;}
.upload-progress-close { position:absolute; top:10px; right:10px; border:1px solid #ddd; padding:0 5px; background:#fffec7;}
.upload-progress h4 { line-height:20px; padding:10px 0;}
.upload-progress-item {}
.schedule { height:15px; background:#b9bdc0; overflow:hidden; border-radius:6px; -webkit-border-radius:6px; box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);}
.filler { -webkit-animation:progress-bar-stripes 2s linear infinite; background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size:40px 40px; background-color:#5bc0de; float:left; height:100%; color:#fff; box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15); transition:width 0.6s ease;}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}



/**/
.add-article { width:80%; margin:auto;}
.addActive-form-item { padding:8px 0; line-height:30px; position:relative; margin-top:0;}

.addActive-form-item strong { float:left; width:130px; text-align:right;}
.addActive-form-item input,
.addActive-form-item select,
.addActive-form-item textarea { padding-left:5px; width:250px; border-radius:5px; border:1px solid #ccc; line-height:28px; height:28px; box-shadow:3px 3px 5px #eee inset;}
.addActive-form-item select { height:32px;}
.addActive-form-item textarea { width:500px; height:60px; line-height:20px;}
.addActive-form-item span { color:#999; padding-left:10px;}
.addActive-form-item img { height:40px; vertical-align:middle; cursor:pointer;}
.addActive-form-radio label { padding-right:30px;}
.addActive-form-radio input { width:auto; border:0; box-shadow:none; vertical-align:middle;}

.addActive-form-but { padding-left:130px;}
.addActive-form-but input { background:#007cc2; color:#fff; border:0; font:400 1.2em/2.5em "Microsoft YaHei"; padding:0 30px; border-radius:10px; letter-spacing:0.3em; cursor:pointer;}
.addActive-form-but input:hover { background:#cfc447;}

.editor-box { margin-left:130px; position:relative; top:-8px; max-width:950px;}
/*.editor-box textarea { visibility:hidden;}*/



/**/
.user-article { padding-bottom:100px; min-height:350px;}
.user-article-item { font-size:16px; line-height:200%; padding:10px 20px; position:relative;}
.user-article-item:nth-child(even) { background:#ebebeb;}
.user-article-item h4 a { color:#4183c4;}
.user-article-item a .link-url { color:#000; font-size:12px; padding-left:10px;}
.user-article-item p { font-size:14px;}
.user-article-item p span { padding-right:20px;}
.user-article-edit { position:absolute; top:50%; right:37px; background:#4183c4; color:#fff; line-height:40px; padding:0 20px; margin-top:-20px; border-radius:5px;}
a.user-article-edit:hover { color:#fff; background:#3188de;}

/* Comment */
.comment { padding-top:30px;}
.comment h1 { font-size:18px; line-height:2em; font-weight:bold; color:#666; padding-bottom:10px;}
.comment-list { padding-top:20px; overflow:hidden;}
.comment-list img { width:50px; height:50px;}
.comment-count { font-size:18px; line-height:2em; padding-bottom:15px;}
.comment-count a { color:#4183c4;}
.comment-count a:hover { color:#f00;}
.comment-item { width:100%; overflow:hidden; padding:20px 0;}
.comment-item:nth-child(even) { background:#f5f5f5;}
.comment-item-face { float:left; width:60px; padding-left:30px;}
.comment-item-face img { width:50px; height:50px; border:5px solid #eee; border-radius:50px;}
.comment-item-text { margin-left:105px; padding-right:30px;}
.comment-item-head { color:#999; line-height:1.6em;}
.comment-item-head span { padding-left:10px;}
.comment-item-name { font-weight:bold; color:#999;}
/*.comment-item-del { padding-right:15px; color:#999;}*/
.comment-item-system { font-size:12px;}
.comment-item-privacy { color:#f00; cursor:default;}

.comment-item-body { line-height:1.6em; padding:6px 0; color:#666;}
.comment-item-body a { color:#4183c4;}
.comment-item-body a:hover { color:#f00;}
.comment-item-foot { line-height:1.6em;}
.comment-item-foot a { color:#999; padding-right:15px;}
.comment-item-foot a:hover { color:#c00;}


.comment-not-login { border-top:1px solid #ddd; border-bottom:1px solid #ddd; line-height:2em; font-size:14px; padding:15px 100px; color:#666; margin-top:30px;}

.comment-form-box { border-top:1px solid #ddd; border-bottom:1px solid #ddd;  padding:30px 0; width:100%; overflow:hidden;}
.comment-form-user { float:left; width:60px; padding-left:30px;}
.comment-form-user img { width:50px; height:50px; border:5px solid #eee; border-radius:50px;}
.comment-form-body { margin-left:105px;}
.comment-form-body textarea { width:95%; min-height:80px; border-radius:10px; background:#e8ebed; border:2px solid #e8ebed; padding:10px; line-height:1.6em; font-size:14px; color:#666;}
.comment-form-body textarea:focus { background:#f7f7f7;}
.comment-form-but { padding-top:15px;}
.comment-form-but input { font-size:16px; border:0; border-radius:5px; line-height:16px; padding:10px 20px; letter-spacing:0.1em;}
.comment-form-code { padding-top:15px;}
.comment-form-code input { background:#e8ebed; border:2px solid #e8ebed; line-height:16px; padding:7px 5px; width:100px; border-radius:4px;}
.comment-form-body input:focus { background:#f7f7f7;}
.comment-form-code img { margin-left:5px; height:37px; width:auto; border-radius:4px; vertical-align:middle; margin-top:-3px; cursor:pointer;}

.comment-del-note { position:relative;}
.comment-del-note-text { background:rgba(255,255,255,.6); position:absolute; top:0; left:0; right:0; bottom:0;}
.comment-del-note-text p { position:absolute; width:100%; text-align:center; top:50%; margin-top:-20px; line-height:40px; font-size:14px; color:#000;}

.comment-item .comment-form-box { padding:15px 0; margin:10px 0;}
.comment-item .comment-form-user { padding-left:0; width:50px;}
.comment-item .comment-form-user img { width:35px; height:35px;}
.comment-item .comment-form-body { margin-left:50px;}
.comment-item .comment-form-body textarea { min-height:25px;}
.comment-item .comment-form-but { padding-top:8px;}
.comment-item .comment-form-code { padding-top:6px;}

.comment-item-childList .comment-item { padding:12px 0; margin-top:6px;}
.comment-item-childList .comment-item:nth-child(odd) { background:#f5f5f5;}
.comment-item-childList .comment-item:nth-child(even) { background:none;}
.comment-item:nth-child(even) .comment-item-childList .comment-item:nth-child(odd) { background:#efefef;}
.comment-item-childList .comment-item-face { padding-left:5px; width:50px;}
.comment-item-childList .comment-item-face img { width:35px; height:35px;}
.comment-item-childList .comment-item-text { margin-left:60px;}
.comment-item-childList .comment-item-head,
.comment-item-childList .comment-item-body { display:inline;}
.comment-item-childList .comment-item-head span { padding-left:10px;}
.comment-item-temporary { background:#e8ebed!important;}

.user-message { padding-bottom:100px;}
.user-message .comment-list { padding:0 0 40px;}
.user-message-privacy { line-height:24px; padding:10px 0;}
.user-message-privacy label { padding-right:30px;}
.user-message-privacy input { margin-right:5px; vertical-align:middle; margin-top:-3px;}