<!-- /etc/article-head-ad.ejs Start -->
<!--<style>
.gg-opactive { background:#fff; padding:30px 0 20px;}
.gg-opactive-con { background:#f7f7f7; position:relative; padding:20px 0; line-height:180%; font-size:16px;}
.gg-opactive-con h3,
.gg-opactive-con p { padding:0 30px;}
.gg-opactive-con h3 { font-size:20px; padding-bottom:10px; color:#333;}
.gg-opactive-con p { color:#666;}
.gg-opactive-con p a { color:#00f;}
.gg-opactive-con p a:hover { color:#c00;}
.gg-opactive-but { border:1px solid rgba(0,0,0,0.1); border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); line-height:50px; display:block; background:#8dc153; color:#fff; font-size:20px; text-align:center; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; letter-spacing:0.1em; padding:0 20px; background:#5bb75b; position:absolute; top:50%; right:40px; margin-top:-25px;}
.gg-opactive-but:hover { background:#51a351; color:#fff;}
</style>
<div class="gg-opactive">
  <div class="gg-opactive-con maxWidth">
    <h3><a href="#">WDShare【筹备中...】 第8期 2015.11</a></h3>
    <p>时间：2015-11-29   14:00 -- 18:00</p>
    <p>地址：西安市高新区锦业路1号绿地领海大厦B栋22层 爱易网络技术(总部)    <a href="http://j.map.baidu.com/no_7D" target="_blank">查看地图</a></p>
    <a href="#" class="gg-opactive-but">点击报名</a>
  </div>
</div>-->
<div style="background:#006ca0 url('/static/skin2015/img/active-head-bg.png'); text-align:center; font-size:26px; color:#000; padding:45px 0; color:#fff;">北上广的陕西人，回西安吧，这里需要你们！</div>
<!-- /etc/article-head-ad.ejs End -->