<!-- /etc/article-head-ad.ejs Start -->
<style>
.gg-opactive { background:#006ca0 url('/static/skin2015/img/active-head-bg.png'); padding:10px 0; color:#fff;}
.gg-opactive-con { position:relative; padding:20px 0; line-height:180%; font-size:16px;}
.gg-opactive-con h3,
.gg-opactive-con p { padding:0 30px;}
.gg-opactive-con h3 { font-size:20px; padding-bottom:10px; color:#fff;}
.gg-opactive-con h3 a { color:#fff;}
.gg-opactive-con h3 a:hover { color:#ff0;}
.gg-opactive-con p { color:#ddd;}
.gg-opactive-con p a { color:#fff;}
.gg-opactive-con p a:hover { color:#ff0;}
.gg-opactive-but { border:1px solid rgba(0,0,0,0.1); border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); line-height:50px; display:block; background:#8dc153; color:#fff; font-size:20px; text-align:center; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; letter-spacing:0.1em; padding:0 20px; background:#5bb75b; position:absolute; top:50%; right:40px; margin-top:-25px;}
.gg-opactive-but:hover { background:#51a351; color:#fff;}
</style>
<% if ( title.indexOf("Webpack") > -1 || title.indexOf("webpack") > -1 ) { %>
<div class="gg-opactive">
  <div class="gg-opactive-con maxWidth">
    <h3><a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f" target="_blank">了解更多 Webpack 请报名参加3.27号活动，名师手把手带你<span style="padding-left:10px; color:#fc0;">本月活动</span></a></h3>
    <p>时间：2016-03-27   14:00 -- 18:00</p>
    <p>地址：西安市 锦业一路 龙旗大厦8楼(识代运筹科技股份)    <a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f" target="_blank">查看详情</a></p>
    <a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f#join"  target="_blank" class="gg-opactive-but">点击报名</a>
  </div>
</div>
<% } else { %>
<div class="gg-opactive">
  <div class="gg-opactive-con maxWidth">
    <h3><a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f" target="_blank">WDShare【面向工程化的前端】 第9期 2016.03 <span style="padding-left:10px; color:#fc0;">新活动报名中</span></a></h3>
    <p>时间：2016-03-27   14:00 -- 18:00</p>
    <p>地址：西安市 锦业一路 龙旗大厦8楼(识代运筹科技股份)    <a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f" target="_blank">查看详情</a></p>
    <a href="http://www.wdshare.org/active/56d508fb5067f9ad21847a5f#join"  target="_blank" class="gg-opactive-but">点击报名</a>
  </div>
</div>
<% } %>

<!-- <div style="background:#006ca0 url('/static/skin2015/img/active-head-bg.png'); text-align:center; font-size:26px; color:#000; padding:45px 0; color:#fff;">北上广的陕西人，回西安吧，这里需要你们！</div> -->
<!-- /etc/article-head-ad.ejs End -->