<div class="footer">
  <div class="footCon maxWidth">
    <div class="foot-link">
      <a href="/about">了解我们</a><a href="/partner">沟通合作</a><a href="#">拍砖建议</a><a href="/wdsharejob">招聘义工</a><a href="http://get-set.cn/wdshare/" target="_blank">会议足迹</a>
    </div>
    <div class="foot-sns">
      <a href="/about" class="foot-sns-qq">
        <img src="/static/skin2015/img/share-sqq.png" />
        <div class="foot-sns-note">
          QQ群： 284216186【中级-公开】4983126【初级-公开】375042952【高级-邀请制】
          <em class="triangle"></em>
        </div>
      </a>
      <a class="foot-sns-weixin">
        <img src="/static/skin2015/img/share-weixin.png" />
        <div class="foot-sns-note">
          <img src="/static/skin2015/img/weixincode.jpg" />
          <span>微信号：wdshare</span>
          <em class="triangle"></em>
        </div>
      </a>
      <a href="http://weibo.com/xianjiaoliu" target="_blank" class="foot-sns-weibo">
        <img src="/static/skin2015/img/share-tsina.png" />
        <div class="foot-sns-note">
          新浪微博：@西安前端交流会
          <em class="triangle"></em>
        </div>
      </a>
    </div>
    <div class="foot-copyright">
      © 2015 WDShare  &nbsp;&nbsp; 为西安前端行业发展提供动力<br />
      感谢好友“北河”提供主机
    </div>
  </div>
</div>
<script src="/static/skin2015/js/require.min.js" data-main="/static/skin2015/js/main"></script>