<div class="ie">请升级您的浏览器吧，太古老了，至少升级到IE9以上才能浏览我们的信息。</div>

<div class="header">
  <div class="headCon maxWidth">
    <div class="hd-logo"><a href="/"><img src="/static/skin2015/img/logo.png" /></a></div>
    <ul class="hd-nav">
      <li class="hd-nav-label">
        <a href="/active/">线下活动</a>
        <em class="count" id="js-openActive-count">-</em>
        <em class="hd-nav-line"></em>
      </li>
      <li>
        <a href="#">技术文章</a>
      </li>
      <li>
        <a href="#">前端招聘</a>
      </li>
      <li class="hd-nav-hover">
        <a href="javascript:void(0)">
          实验室 <em class="icon-top-arrows"></em>
        </a>
        <div class="hd-nav-child">
          <a href="#">前端培训</a>
          <a href="#">项目展示</a>
          <a href="#">技术小组</a>
          <a href="#">换书行动</a>
        </div>
      </li>
      <li>
        <a href="#">我的主页</a>
      </li>
    </ul>
    <div class="hd-login">
      <% if(user && user.email){ %>
      <a href="/user/user" class="but but-blue but-login" title="进入用户中心"><%=user.username%></a><a href="/user/logout" class="but but-gray but-reg">退出</a>
      <% }else{ %>
      <a href="/user/login" class="but but-blue but-login">登录</a><a href="/user/register" class="but but-gray but-reg">注册</a>
      <% } %>
    </div>
  </div>
</div>