<div class="manage-head">
  <div class="logo"><img src="/static/manage_style/img/logo.png" /></div>
  <div class="text">
    <a href="/manage">管理中心</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>欢迎您：<strong><%=manageuser.username%></strong>， </span><a href="/manage/logout">退出</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/" target="_blank">官网首页</a>
      <a href="/active" target="_blank">线下活动</a>
      <a href="/job" target="_blank">前端招聘</a>
      <a href="/job" target="_blank">项目展示</a>
  </div>
</div>