<div class="manage-left">
    <div class="manage-module-link">
      <dl class="manage-left-active">
        <dt><em>活动管理</em></dt>
        <dd>
          <a href="/manage/active">活动列表</a>
          <a href="/manage/active/create">添加活动</a>
          <a href="/active">活动预览</a>
        </dd>
      </dl>
      <dl class="manage-left-article">
        <dt><em>文章管理</em></dt>
        <dd>
          <a href="#">文章列表</a>
          <a href="#">添加文章</a>
          <a href="/manage/article/channel">分类管理</a>
          <a href="/manage/tags">标签管理</a>
          <a href="/manage/articleCrumbs">单页面管理</a>
        </dd>
      </dl>
      <dl class="manage-left-job">
        <dt><em>招聘管理</em></dt>
        <dd>
          <a href="#">招聘列表</a>
          <a href="#">企业会员</a>
          <a href="#">招聘分类</a>
        </dd>
      </dl>
      <dl class="manage-left-project">
        <dt><em>项目管理</em></dt>
        <dd>
          <a href="#">项目列表</a>
          <a href="#">添加活动</a>
          <a href="#">项目分类</a>
        </dd>
      </dl>
      <dl class="manage-left-manage">
        <dt><em>系统管理</em></dt>
        <dd>
          <a href="/manage/manageUsers">系统管理员</a>
          <a href="/manage/addManage">添加管理员</a>
          <a href="#">系统配置</a>
        </dd>
      </dl>
    </div>
  </div>