body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:250px;
    top:31px;
    width:750px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:310px;
    top:15px;
    width:18px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_selected {
    background-image: url('../项目展示_files/u4_selected.png');
}

.u4_normal {
    background-image: url('../项目展示_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:0px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u10 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u13 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u16 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20 {
    position:absolute;
    left:850px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:930px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:40px;
    top:126px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:104px;
    top:187px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:104px;
    top:219px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:40px;
    top:590px;
    width:940px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:40px;
    top:836px;
    width:990px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../项目展示_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:40px;
    top:10px;
    width:173px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:17px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:412px;
    top:534px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:40px;
    top:185px;
    width:50px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:628px;
    top:187px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:628px;
    top:219px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:564px;
    top:185px;
    width:50px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u35 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:104px;
    top:272px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:104px;
    top:304px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u38_container {
    position:absolute;
    left:40px;
    top:270px;
    width:50px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u39 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:628px;
    top:272px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:628px;
    top:304px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u42_container {
    position:absolute;
    left:564px;
    top:270px;
    width:50px;
    height:50px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u43 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:104px;
    top:353px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:104px;
    top:385px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u46_container {
    position:absolute;
    left:40px;
    top:351px;
    width:50px;
    height:50px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u47 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:628px;
    top:353px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:628px;
    top:385px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u50_container {
    position:absolute;
    left:564px;
    top:351px;
    width:50px;
    height:50px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u51 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:104px;
    top:438px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:104px;
    top:470px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u54_container {
    position:absolute;
    left:40px;
    top:436px;
    width:50px;
    height:50px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u55 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:628px;
    top:438px;
    width:460px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:628px;
    top:470px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../项目展示_files/u30_normal.png');
}

.u58_container {
    position:absolute;
    left:564px;
    top:436px;
    width:50px;
    height:50px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u59 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:900px;
    top:140px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

