/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
#motu,
#motu div,
#motu span,
#motu applet,
#motu object,
#motu iframe,
#motu h1,
#motu h2,
#motu h3,
#motu h4,
#motu h5,
#motu h6,
#motu p,
#motu blockquote,
#motu pre,
#motu a,
#motu abbr,
#motu acronym,
#motu address,
#motu big,
#motu cite,
#motu code,
#motu del,
#motu dfn,
#motu em,
#motu img,
#motu ins,
#motu kbd,
#motu q,
#motu s,
#motu samp,
#motu small,
#motu strike,
#motu strong,
#motu sub,
#motu sup,
#motu tt,
#motu var,
#motu b,
#motu u,
#motu i,
#motu center,
#motu dl,
#motu dt,
#motu dd,
#motu ol,
#motu ul,
#motu li,
#motu fieldset,
#motu form,
#motu label,
#motu legend,
#motu table,
#motu caption,
#motu tbody,
#motu tfoot,
#motu thead,
#motu tr,
#motu th,
#motu td,
#motu article,
#motu aside,
#motu canvas,
#motu details,
#motu embed,
#motu figure,
#motu figcaption,
#motu footer,
#motu header,
#motu hgroup,
#motu menu,
#motu nav,
#motu output,
#motu ruby,
#motu section,
#motu summary,
#motu time,
#motu mark,
#motu audio,
#motu video,
#motu input,
#motu textarea,
#motu select,
#motu option {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei",arial,helvetica,sans-serif;
    vertical-align: baseline;
    background:none;
}
/* HTML5 display-role reset for older browsers */
#motu article,
#motu aside,
#motu details,
#motu figcaption,
#motu figure,
#motu footer,
#motu header,
#motu menu,
#motu nav,
#motu section {
    display: block;
}
#motu {
    line-height: 1;
}
#motu ol, #motu ul {
    list-style: none;
}
#motu blockquote, #motu q {
    quotes: none;
}
#motu blockquote:before,
#motu blockquote:after,
#motu q:before,
#motu q:after {
    content: '';
    content: none;
}
#motu table {
    border-collapse: collapse;
    border-spacing: 0;
}