<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>修改密码 - WDShare</title>
<% include ../etc/htmlhead.ejs %>
</head>
<%
  var info = info || {};
%>
<body>
<% include ../etc/head.ejs %>

<% include etc/user_head.ejs %>

<div id="js-myhome" style="display:none;"></div>
<div class="edit-body">
  <form id="js-edit-password" name="edit-password" method="post" action="">
  <dl>
    <dt>旧密码：</dt>
    <dd><input type="password" name="password" placeholder="请输入旧密码" class="in-text" /></dd>
  </dl>
  <dl>
    <dt>新密码：</dt>
    <dd><input type="password" name="newPassword" placeholder="请输入新密码" class="in-text" /><span>新密码尽可能复杂一些</span></dd>
  </dl>
  <dl>
    <dt>确认新密码：</dt>
    <dd><input type="password" name="reNewPassword" placeholder="请再次输入新密码" class="in-text" /></dd>
  </dl>
  <div class="edit-but"><input type="submit" name="submitbutton" value="修改" /></div>
  </form>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>