<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>WDShare 输入新的密码</title>
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>

<% if ( typeof error !== "undefined" ) { %>
<script>
  error = '<%=error%>';
</script>
<% } %>

<div id="js-passport" style="display:none;"></div>
<div class="login-main">
  <div class="login-main-bg">
    <div class="login-inner">
      <div class="login-title">
        <h1>输入新的密码</h1>
        <h3 class="login-subhead resetPassword-subhead">输入您的新密码</h3>
        <h3 class="login-error resetPassword-error"></h3>
      </div>
      <form id="js-resetPasswordForm" name="resetPasswordForm" method="post" action="">
        <input type="hidden" name="hash" value=<%=hash%> />
        <p class="login-input login-password"><input type="password" name="password" placeholder="输入您的新密码" /></p>
        <p class="login-input login-password"><input type="password" name="repassword" placeholder="再次输入新密码" /></p>
        <!-- <p class="login-input login-code"><input type="text" name="code" placeholder="验证码" /> <img id="code" src="/static/skin2015/img/vcode.png" onclick="document.getElementById('code').src +='?'+new Date().getTime(); return false;" /></p> -->
        <div class="login-but">
          <input type="submit" name="submitbutton" value="提交" />
        </div>
        <p class="link"><a href="/user/login">返回登录</a></p>
      </form>
    </div>
  </div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>