<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title><%=member.username%>的留言 - WDShare</title>
<% include ../etc/htmlhead.ejs %>

<% if ( typeof info != "undefined") { %>
<script>
var sex = <%=info.sex%>;
</script>
<% } %>

<%
var who = "他";
if (typeof info != "undefined" && info.sex == 2) {
	who = "她";
}
if (user && user._id == member._id) {
	who = "我";
}
%>

</head>

<body>
<% include ../etc/head.ejs %>
<% include etc/user_head.ejs %>

<div id="js-myhome" style="display:none;"></div>
<div class="maxWidth module">
	<div class="user-message">
    message
	</div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>