/*
  auther:f7
  date:2016.6
*/
img { display:block; }

.active12-top-nav a { -webkit-transition-duration:250ms; -moz-transition-duration:250ms; transition-duration:250ms;}

.active12-top { position:fixed; top:0; left:0; width:100%; background:rgba(0,0,0,.7); z-index:999;}
.active12-top-con { width:1000px; margin:auto; overflow:hidden; position:relative;}
.active12-top-logo { float:left; padding:13px 0;}
.active12-top-logo img { width:289px; }
.active12-top-nav { margin-left:340px; line-height:66px;}
.active12-top-nav .important { color:#00b9ef;}
.active12-top-nav a { color:#fff; float:left; padding:0 20px;}
.active12-top-nav a:hover,
.active12-top-nav .current { background:rgba(255,255,255,.1); color:#ff0;}


.gw-nav { position:absolute; top:0; right:0; line-height:66px; width:215px; font-size:12px; text-align:right}
.gw-nav a { display:inline-block; color:#fff; padding:0 10px;}
.gw-nav a:hover { color:#ff0; }



.active12-head { position:relative; background:#070707;}
.active12-head img { max-width:100%; }
.active12-head-text { position:absolute; top:0; left:0; width:100%; height:100%; text-align:center; color:#fff;}
.active12-head-text h1 { font-size:34px; line-height:2em;}
.active12-head-text h2 em,
.active12-head-text h2 strong { display:block;}
.active12-head-text h2 em { font-size:26px; }
.active12-head-text h2 { line-height:2.4em; font-size:22px; padding-top:2%;}
.active12-head-text h3 { display:inline-block; border-bottom:2px solid #fff; line-height:2em; font-size:16px; margin-top:4%;}
.active12-head-text h3 span { display:inline-block; width:50px; height:30px; background:url("../img/red-cake.png") no-repeat center center; background-size:auto 100%; margin-bottom:-3px;}

.active12-learn-more { position:absolute; left:50%; bottom:7%; width:72px; height:100px; margin-left:-26px; background:url("../img/learn-more.png") no-repeat center center; background-size:100% auto;}

.active12-balloon { position:absolute; right:3%; bottom:10%; width:150px; height:310px; background:url("../img/balloon.png") no-repeat center center; background-size:100% auto;}

/**/
.mod-title { font-size:34px; text-align:center; line-height:2em; font-weight:bold;}
.mod-title-small { font-size:18px; text-align:center; line-height:2em;}
/**/
.active12-zhichi { background:#f5f5f7 url("../img/zhichi-bg.jpg"); text-align:center; padding:70px 0 70px;}
.active12-zhichi img { display:block; margin:20px auto; }
.active12-zhichi .mod-title { color:#565656; }

/**/
.active12-xianchang { background:#f5f5f7 url("../img/zhichi-bg.jpg"); text-align:center; padding:70px 0 70px;}
.active12-xianchang img { display:inline-block; margin:20px auto; height:120px; margin-right:15px;}
.active12-xianchang-con { margin:auto; width:80%; max-width:800px;}

/**/
.active12-content { background:#292929 url("../img/content-bg.jpg"); text-align:center; padding:70px 0 70px;}
.active12-content .mod-title { color:#fff;}
.active12-content .mod-title-small { color:#999;}


/**/
.horizontal-middle {display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  
  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;
  
  display:-o-box;
  -o-box-orient:horizontal;
  -o-box-pack:center;
  -o-box-align:center;
  
  display:-ms-box;
  -ms-box-orient:horizontal;
  -ms-box-pack:center;
  -ms-box-align:center;
  
  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;}
.torus,
.torus-zhanwei { float:left; margin:10px; width:80px; height:80px; position:relative;}
.torus-text-position { width:100%; height:100%; position:absolute; top:0; left:0;}
.torus-text { width:87%; height:87%; background:#323232; border-radius:1500px; font-size:1.2em;}
.torus-text img { width:70%;}

.pie_chart_torus { background:#1b1b1b;}
.pie_chart_torus,
.pie_chart_torus ul,
.pie_chart_torus li,
.pie_chart_torus p { width:100%; height:100%;}
.pie_chart_torus span { width:50%; height:100%;}
.pie_right{ margin-left:50%;}

.pie_chart_torus ul :nth-child(odd) { clip:rect(0px, 300px, 300px, 150px);}
.pie_chart_torus ul :nth-child(even) { clip:rect(0px, 150px, 300px, 0px);}

.pie_chart_torus { position:relative; border-radius:1500px;}
.pie_chart_torus li { position:absolute; top:0px;}
.pie_chart_torus p { padding:0; margin:0;}
.pie_chart_torus span { display:block;}

.pie_left { border-radius:1500px 0 0 1500px;}
.pie_right{ border-radius:0 1500px 1500px 0;}

.pie_chart_torus_c1_l span,
.pie_chart_torus_c1_r span { background:#e03a3a;}

/*Pie chart data (degree value) */
.pie_chart_torus ul :nth-child(1) p { transform: rotate(0deg);}
.pie_chart_torus ul :nth-child(2) p { transform: rotate(0deg);}


.active12-content-item { width:800px; margin:30px auto; color:#ddd; overflow:hidden;}
.active12-content-item .time { float:left; width:200px; text-align:center; line-height:100px; font-size:18px;}
.active12-content-item .text { margin-left:300px; text-align:left;}
.active12-content-item .text h4 { margin:0; font-size:18px; line-height:2em;}
.active12-content-item .text h4 a { color:#ff0; text-decoration:underline;}
.active12-content-item .text h4 a:hover { color:#fff;}
.active12-content-item .text p { margin:0; font-size:14px; line-height:2em; color:#999;}
.active12-content-item .text p a { color:#999; text-decoration:underline;}
.active12-content-item .text p a:hover { color:#ddd; }

.active12-work { border:1px solid #222; background:rgba(255,255,255,.1); width:740px; margin:auto; padding:20px 30px; text-align:left; color:#ddd; line-height:2.4em; font-size:18px;}
.active12-work span { float:left; width:50%;}
.active12-work-con { overflow:hidden; }
.active12-work-con img { display:inline-block; height:112px; margin-right:5px;}

.changdi-yindao { width:840px; margin:auto; font-size:18px; color:#ddd; padding:30px 0 20px; text-align:left;}
.changdi-yindao a { color:#eee; text-decoration:underline;}
.changdi-yindao a:hover { color:#ff0; }
.changdi-yulan { width:1000px; margin:30px auto 0;}
.changdi-yulan img { display:inline-block; width:220px; margin:0 13px;}

.active12-media { padding-top:30px; }
.active12-media img { height:40px; display:inline-block;}
.active12-media h3 { line-height:50px;}
.active12-media h3 img { vertical-align:middle; }


/**/
.active12-join { text-align:left; background:#f06150 url("../img/jianying.png") no-repeat center bottom; background-size:100% auto; color:#fff; padding:70px 0 140px;}
.active12-join .active-join { width:800px; margin:auto;}
.active-join dl { font-size:16px; border-radius:8px;}
.active-join dl:nth-child(even) { background:rgba(255,255,255,.1); }
.active-join dd span { color:#ff8888; }
.active-join dd input,
.active-join dd textarea { background:rgba(255,255,255,.8); border:1px solid #ddd;}
.active-join .form-but input { background:none; border:2px solid #ffd0ce;}
.active-join .form-but input:hover { background:rgba(255,255,255,.4);}


/**/
.active12-comment { padding:70px 0 70px; }

/**/
.active-login { background:rgba(255,255,255,.4); color:#333; box-shadow:0 0 0; border:0; border-radius:8px;}

/**/
.active12-head-con { margin-top:66px; }
.active12-info { background:rgba(255,255,255,.6); width:900px; text-align:center; margin:0 auto; padding:60px 0;}
.active12-info p { font-size:22px; text-align:left; color:#000; line-height:2em; padding:15px 0 0 100px;}
.active12-info .other { font-size:18px; line-height:2em;}
.active12-info h1 { color:#060; text-shadow:1px 1px 1px #030;}
.zhuban { background:rgba(0,0,0,.5); width:900px; text-align:center; margin:auto; padding:30px 0 10px;}
.zhuban img { height:70px; display:inline-block; margin:0 30px; background:rgba(0,0,0,.2);}





@media screen and (max-width:1100px) {
  .active12-info { padding:30px 0; width:800px;}
  .zhuban { width:800px; }
  .active12-info p { padding-left:60px; }
}
