<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>404 - WDShare线下活动</title>
<% include ../../etc/htmlhead.ejs %>
</head>

<body>
<% include ../../etc/head.ejs %>

<div class="active-body active-404">很抱歉，您所访问的活动不存在<br /><a href="/">返回首页</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/active">查看其它活动</a></div>

<% include ../../etc/foot.ejs %>
</body>
</html>