body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:250px;
    top:31px;
    width:750px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:310px;
    top:15px;
    width:18px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#FF0000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_selected {
    background-image: url('../招聘终极页_files/u4_selected.png');
}

.u4_normal {
    background-image: url('../招聘终极页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:54px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:0px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u10 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u13 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u16 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20 {
    position:absolute;
    left:850px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:930px;
    top:27px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:40px;
    top:126px;
    width:270px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:40px;
    top:1460px;
    width:990px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../招聘终极页_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:40px;
    top:10px;
    width:173px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:728px;
    top:130px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../招聘终极页_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:728px;
    top:167px;
    width:272px;
    height:53px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:53px;
}

.u28 {
    position:absolute;
    left:2px;
    top:18px;
    width:268px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:40px;
    top:1205px;
    width:940px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:50px;
    top:1328px;
    width:250px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:40px;
    top:172px;
    width:340px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:100px;
    top:312px;
    width:380px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../招聘终极页_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:40px;
    top:309px;
    width:50px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:40px;
    top:280px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:530px;
    top:309px;
    width:470px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:40px;
    top:436px;
    width:270px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:40px;
    top:489px;
    width:960px;
    height:656px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:40px;
    top:1265px;
    width:940px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

